[2017-02-07 21:31] patrickPatterson opened #1 "need categories"
a listing of topics

[2017-02-08 04:35] juliancoleman opened #3 "add frameworks to server-side"
I think it would be a great idea to drill down some backend frameworks that are not only modern, but also provide an education to further develop the skills of each developer. Some frameworks that come to mind...

[code]

Anyone can get a Ruby education by building a small Jekyll site for a `gh-pages`. Django will be a sinch to learn, especially if taught by @dmpayton. Node, unfortunately offers m

[2017-02-08 17:48] juliancoleman opened #4 "set up ESLint for organization"
To maintain code uniformity across multiple projects and avoid common Javascript errors while working, ESLint is an invaluable tool. The tooling and support built around the open-source checker is some of the best in the JS community.

[2017-02-08 17:54] juliancoleman opened #5 "add mobile browsers to client-side browser list"
There's no doubt mobile navigation is a huge deal. Most of the time, there seems to be a lack of support, or perhaps more properly put, mobile browsers are having a hard time keeping up with modern technologies. Perhaps this could be a discussion of polyfills, frontend framework support, CSS attribute prefixing provided by `caniuse`, or even CSS variable support for that matter.

[2017-02-08 19:19] vperezma commented on #3
@juliancoleman that's a great idea. After @patrickPatterson finishes adding these directories can you, if you have time, add some facts or anything you feel necessary to the Hapi or any other directory? I would really like to have as many people contribute to this repo as possible.

[2017-02-08 20:13] juliancoleman commented on #3
I'd be more than happy to help contribute on my downtime.

[2017-02-08 20:24] patrickPatterson commented on #3
directories added

[2017-02-09 14:23] juliancoleman opened #7 "docker or kubernetes"
Docker and Kubernetes both deal with the containerizing of applications.

Official docs:

[Docker](https://www.docker.com/)

[Kubernetes](https://kubernetes.io/)

[2017-02-13 19:16] #3 closed

[2017-02-13 19:22] patrickPatterson commented on #5
@juliancoleman i currently have browser broken up by name, would you have the information above under each browser name or under a "mobile" section

[2017-02-15 17:34] juliancoleman opened #11 "Add Firebase to list of dbs"
Firebase is a schema-less database, created and maintained by Google. It runs Mongo on the backend, but that's not how we interface with it. It's really nice for small applications to medium applications, but doesn't scale all that well. Thanks, Mongo.

[2017-02-15 17:37] juliancoleman opened #12 "Add Vue to list of frontend frameworks"
It works a lot like React, but feels about half the size, and works about half the size. It's a pretty popular framework to use with Laravel stacks.

Also, it's pronounced like "view", Micheal Wallert. Not like "Voo" :smirk:

[2017-02-19 08:26] ryekerjh commented on #12
No.

[2017-02-19 21:34] juliancoleman commented on #12
@ryekerjh why not?

[2017-02-19 22:03] vperezma commented on #12
@ryekerjh remember this repo is to bring in info for our developers from our developers and that includes info about frameworks we might dislike or feel are not adequate for our projects. @juliancoleman my invitation to contribute is still open. If you or Vinson are up for setting up a quick getting started with Vue or quick write up about why Vue is a good choice please feel free to create a PR.

[2017-02-19 22:09] juliancoleman commented on #12
@vperezma Sure thing, man!

[2017-02-19 22:11] juliancoleman commented on #12
@ryekerjh I'm open to hear about why you feel Vue is not a great framework. I have my `meh` moments with it, but I'm curious also to hear your thoughts. I'm personally a React guy, and believe me when I say I wish I could throw people off the second floor over how much grief React gives me on a daily. Still my daily driver. I guess I've come to accept there will never be a perfect framework. I'm j

[2017-02-19 22:24] ryekerjh commented on #12
@juliancoleman Oh, no I was just joking around! Ill keep it professional from here on out. :)

[2017-02-19 22:26] juliancoleman commented on #12
I got you, man. I thought it was that I had mentioned Laravel hahaha

[2017-02-19 22:28] ryekerjh commented on #12
@juliancoleman LOL, that would def elicit such a response. haha!

[2017-02-19 22:58] juliancoleman commented on #12
Hahaha sounds good. Alright, so, most of my time is devoted to finishing up Mission Control. Once I'm done with that, I'll tackle this issue with a PR.

[2017-03-24 21:39] linogomez opened #17 "bug_reporting.md"
<img width="413" alt="screen shot 2017-03-24 at 2 38 45 pm" src="https://cloud.githubusercontent.com/assets/6759742/24314592/a4385ba2-109f-11e7-9e8c-86cc40e02347.png">

PLEASE CHANGE THE "Tags" TO LABELS

[2017-03-24 21:42] #17 closed

[2017-04-07 21:54] juliancoleman opened #19 "QA subfolder breaks naming convention"

[2017-04-08 20:08] #19 closed

[2017-04-14 17:16] ryekerjh opened #21 "Create a branch naming and workflow convention for s3"
Let's do this!

[2017-04-27 21:14] #4 closed

[2017-04-27 21:14] #5 closed

[2017-04-27 21:15] linogomez commented on #21
Yeah bud, fourshore.

[2017-04-27 21:15] #21 closed

[2017-04-27 21:15] #7 closed

[2017-04-27 21:15] #11 closed

[2018-03-08 17:22] benreckas opened #23 "root readme update"
Hey everyone, I'd love to contribute to something open source like this, but in it's current state it's hard to know where to begin since I don't work for Bitwise/Shift3.

I'm thinking the root readme could be updated with a linked article on how to contribute to this repo specifically. A simplified version of [Ryeker's contributing doc](https://github.com/Shift3/standards-and-practices/blob/maste

[2018-03-08 17:33] vperezma commented on #23
Thanks for your interest @benreckas. We will get those up and/or updated soon.

[2018-03-14 17:48] vperezma commented on #23
this is complete with a555910 and c412306. Closing.

[2018-03-14 17:48] #23 closed

[2018-03-14 20:10] ryekerjh opened #27 "Clean up Files & Folders"
Remove dupe files and folders and reorganize to make sense

[2018-03-14 20:17] ryekerjh opened #28 "Add SCSS or LESS to CSS folder"
Add S3 standards for writing CSS precompilers

[2018-03-14 20:23] ryekerjh opened #30 "Add Angular2+ Documentation"
Add standards for how Shift3 uses the Angular CLI for our projects.

[2018-03-14 22:25] vperezma commented on #27
Resolved with 3651b2d.

[2018-03-14 22:25] #27 closed

[2018-03-15 18:23] ryekerjh opened #32 "Add JS guidelines"
Add something to the client JS md file for standards

[2018-03-15 18:50] #32 closed

[2018-03-15 20:30] benreckas opened #34 "Add Docker Documentation"
I'm not sure how commonly Docker is being used in current development projects at Shift3, but it seems like it's picking up steam. I know the current cohort is planning on using it for the credit union app. It also seems like there's only a handful of developers in the building that have a good grasp on it.

Docker's own documentation isn't very good, so this seems like it could be beneficial for

[2018-04-03 03:15] coreyshuman opened #35 "Bring App Security Class content into this repo"
Add documentation and resources from the application security class and add them to the client-side and server-side security sections.

Topics:
- [ ] Introduction to Secure Software Development Cycle
- [ ] SQL Injection
- [ ] MongoDb Query Injection
- [ ] Cross Site Scripting (XSS)
- [ ] Cross Site Request Forgery (CSRF)
- [ ] Session hijacking / session replay
- [ ] User Data Sanitization
- [ ] C

[2018-04-03 03:19] coreyshuman commented on #35
@ryekerjh | @vperezma | @mwallert
Most of these topics are difficult to split into client-side and server-side (the way the current folder structure is setup). Would you guys be interested in creating a top-level security folder to add these topics into?

[2018-04-03 03:51] vperezma commented on #35
I like that idea.
Something like this?
Security
 |--- client-side
 |       |---- security topics
 |
 |--- server-side
         | ---- security topics

[2018-04-05 02:54] cobyfielding commented on #34
I think a good start might be to create various docker environments like we do with vagrant scripts.  They will probably need their own individual documentation (at least for commands).  I have a base setup for a docker environment I use, but the documentation would be pretty specific to that environment . A nice wiki on setting up docker environments from scratch and how to add them to the organi

[2018-07-17 16:13] zbyte64 commented on #34
Started a `docker` branch with some examples. Currently I have it filed under `client-side/tools/docker/` but I am not sure if that is appropriate.

[2018-07-17 17:14] mwallert commented on #34
I have a branch locally where I had Docker in the root since we can use it on both server and client but we can leave that up to discussion. I like the node example and I was just creating a readme for setting up Docker. I'll push the branch up and see if we can't merge everything together.

[2018-07-23 20:49] zbyte64 opened #38 "Launch checklists"
When delivering a site (or API) to a client there are a common set of things that should be gathered and checked: Various credentials or keys are needed to properly configure services before delivery, a test request to the site using the desired domain name before switching DNS, setting certain environment variables to production, etc.

Ideally we provide a documented template to be copied to an i

[2018-07-23 21:03] zbyte64 commented on #35
Most of the topics look to be considerations done on the server-side. Client security concerns are much simpler: am I talking to the right server and am I using SSL, rarely would we even consider locally encrypting data.

I would be interested in grouping them by theme: Sanitization vs escaping in regards to query injection, XSS and form validation; Browser security settings; Penetration testing w

[2018-07-23 21:11] #34 closed

[2018-07-25 22:06] coreyshuman opened #39 "Create a standard email field verification Regular Expression (or find and verify one)"
https://en.wikipedia.org/wiki/Email_address

There are some crazy email addresses allowed in RFC 5321 and RFC 5322. Here is the above articles set of rules, and examples of valid and invalid addresses.

### Local-part
The local-part of the email address may use any of these [[ASCII]] characters:
* uppercase and lowercase [[Basic Latin (Unicode block)|Latin]] letters <code>A</code> to <code>Z</code

[2018-07-25 23:22] coreyshuman commented on #39
This is a promising solution if we could figure out a way to standardize it for our projects.
https://github.com/django/django/blob/master/django/core/validators.py#L164

[2018-07-26 16:10] zbyte64 commented on #39
Stackoverflow answer has a pretty awesome regexp pattern with a state machine diagram: https://stackoverflow.com/questions/201323/how-to-validate-an-email-address-using-a-regular-expression

But considering that different languages have different regexp syntaxes it might be better to designate a validation library for each language we use. For nodejs `isemail` looks pretty robust: https://github.c

[2018-07-27 20:02] coreyshuman commented on #39
I would like to humbly propose a solution which performs as well as the RFC5322 Official Standard (in my particular test set) but is much easier to understand and verify.

[code]
- `^` - start of line
- `(?!\.)` - don't allow the line to start with `.`
- `(?!.*?\.\.)` - don't allow consecutive periods, ex. (john..conor@test.com)
- ``[\w\d.!#$%&'*+\-\/=?^_`{|}~]+`` - match one or more letter, numbe

[2018-07-27 22:14] ggoforth commented on #39
![screen shot 2018-07-27 at 3 13 12 pm](https://user-images.githubusercontent.com/1167712/43348587-a189dab0-91af-11e8-896a-1a95bb0219b4.png)

But for reals, reading this issue is fantastic.  I like the solution proposed at the end, and the amount of testing done against it.  👍

[2018-08-01 18:06] zbyte64 commented on #39
Running through the validation examples from `isemail` against
[code]

Most notable is the lack of UTF8 support and hyphen handling.

False positives:
[code]

False negatives:
[code]

[2018-08-20 19:28] ryekerjh opened #45 "React Native"
Add file structure for React Native and all it's component peices

[2018-09-05 23:57] ryekerjh opened #47 "Code Reviews"
Add a .md file for code reviews

[2018-09-06 19:02] #47 closed

[2018-09-24 18:56] stephengtuggy opened #50 ""Receive" still misspelled as "recieve" in conventions/code-reviews.md"

[2018-09-24 20:03] #50 closed

[2018-11-16 00:13] ryekerjh opened #52 "ES/TSLint Docs"
From Flavio's presentation

[2018-12-21 19:01] zbyte64 commented on #39
Frankly, I think it is more important to adopt a library for this concern then to bless a regex to be copied for all projects. Having a small clever regex pattern to stamp out is cool but it runs afoul with the DRY principle: https://en.wikipedia.org/wiki/Don%27t_repeat_yourself. The argument for simplicity makes more sense if we're the one's maintaining the code, which for something as common as

[2019-01-12 02:25] ryekerjh opened #54 "Facelift"
Update front page to make repo more accessible. Refactor structure to make it more approachable.

[2019-01-12 03:01] ryekerjh opened #55 "Windows Setup"
Add to root README.md all packages/programs/etc to install for new Shift3 Windows users.

[2019-01-12 03:28] ryekerjh opened #56 "Rebase vs. git pull vs. git merge"
@TomAlperin @mwallert @dunlavy @carlosvargas  Please do a quick write up on the benefits of each of these and your suggestions on which to use at Shift3

[2019-01-12 03:31] ryekerjh opened #57 "Angular spin up guide"
We need a basic .md for:
- [ ] Installing ng globally
- [ ] Spin up Angular projects
- [ ] Creating builds
- [ ] Deploy to staging
- [ ] Deploying to production

[2019-01-12 03:36] ryekerjh opened #58 "Update MongoDB to Atlas"
Update the docs for MongoDB to utilize Atlas and update security to reflect current versions

[2019-01-12 03:42] ryekerjh opened #59 "SQL Documentation"
Write docs for setting up:
- [x] Postgres
- [x] MSSQL
- [x] MySql

[2019-01-12 03:43] ryekerjh opened #60 "NORMALIZE docs"
Write docs for setting up Normalize

[2019-01-12 03:46] ryekerjh opened #61 "Write basic JS docsq"
In our repo we have a client-side/javascript doc that needs some contributions. Ideally we will link to the Google JS standards and all of us together will create a style guide for how we write JS.

[2019-01-12 03:54] ryekerjh opened #62 "Add docs to client/security"
We need documentation in `client-side/security` for:
- [ ] JWT
- [ ] Passport
- [ ] Encryption

[2019-01-12 04:05] ryekerjh opened #63 "Write docs for Node.js"
basic spin-up guide for node.js as a server.

[2019-01-12 04:07] ryekerjh opened #64 "Basic Ruby Spin up"
Write a markdown for basic Ruby spin up at shift3

[2019-01-12 04:08] ryekerjh opened #65 "Write .NET docs"
For basic spin up. How do we do this at Shift3?

[2019-01-12 04:09] ryekerjh opened #66 "NativeScript writeup"
Taken from notes from @FlavioShift3 's presentation

[2019-01-14 21:48] carlosvargas commented on #56
Not sure if you're asking about `git pull` (which is really `git fetch && git merge` or `git pull --rebase` or rebasing PRs or merging PRs, but they're all kinda connected, so I'll comment about each one lol

When updating my local, I always prefer to `rebase` on top of any remote changes. I don't like the merge commit that get's created with `git pull` on the feature branch since it "pollutes" my

[2019-01-14 21:55] ryekerjh commented on #56
@carlosvargas Thanks so much for this! This is exactly what I was hoping for! if @dunlavy or @TomAlperin have any additional suggestions, I'd love to hear them!

[2019-01-14 22:16] #52 closed

[2019-01-14 22:16] #54 closed

[2019-01-15 20:21] ryekerjh opened #70 "Fix links"
Some links are broken so let;'s make sure they work!

[2019-01-15 20:23] ryekerjh opened #71 "Add Laravel"
Let's add a folder and specs for Laravel and php in the `/server-side/frameworks` folder

[2019-01-15 23:56] #70 closed

[2019-01-17 00:35] cobyfielding commented on #71
https://github.com/Shift3/standards-and-practices/pull/74

[2019-01-17 00:41] ayojackay commented on #71
@cobyfielding oh heyyyyy! Nice to know I am not the only one on the Laravel block xD

[2019-01-17 01:07] #71 closed

[2019-01-17 01:08] ryekerjh opened #75 "Add links to Frameworks"
In the server-side/frameworks/Node and server-side/frameworks/python README.md files we need to link to the subfolders' README.md files.

[2019-01-17 01:34] ryekerjh commented on #75
@cobyfielding You are 100% allowed to close issues that you resolved :)

[2019-01-24 23:46] ryekerjh opened #80 "Add AWS Elastic Beanstalk Deployment"
For our APIs here at Shift3

[2019-01-25 19:25] ryekerjh opened #81 "Apple Deployment Docs"
Add documentation for:
- [ ]  Deploying to Test Flight for development
- [ ] Setting up a Developer account for Apple
- [ ] Setting up an iTunes Connect account
- [ ] Creating provisioning Profiles and certificates
- [ ] Deploying to App Store for production
- [ ] Registering a physical device with Xcode for local development

[2019-01-25 19:26] ryekerjh opened #82 "Android Deployment"
Add documentation for:
- [ ]  Cutting an APK for client testing
- [ ] Setting up a Developer account for Google Play
- [ ] Deploying to Google Play Store for production
- [ ] Setting up Android Studio with physical devices and virtual devices

[2019-01-25 23:35] ryekerjh commented on #45
I'd like the strcuture to be something like
[code]

[2019-01-28 21:55] carlosvargas opened #85 "Add Cloudfront set up script"
I had written a script a few months ago that would set up the Cloudfront infrastructure needed to deploy an application (see #79). I'm creating this task so that I clean up the script and upload it to the repo.

[2019-01-29 03:42] coreyshuman opened #88 "Add guide for Testflight and Android internal, alpha, and beta testing"
Getting an app setup in Android or Apple for internal and external testing takes Herculean effort. We should document this process on each platform. Screenshots would definitely be a plus, given how difficult both developer consoles are to navigate. Finally, adding a place for gotchas would be great (such as subscriptions not being available in iOS for testing if the client hasn't signed their tax

[2019-01-29 03:43] coreyshuman commented on #88
@Basim-Elayan you have a lot of experience with this process if you wanna tackle this. Maybe team up with another dev who has also worked done internal, alpha, and beta testing.

[2019-01-29 17:49] carlosvargas opened #89 "Add Continuous Integration info"
Add the information into how to set up Continuous Integration for each application.

[2019-01-29 18:15] #82 closed

[2019-01-29 19:15] Basim-Elayan commented on #88
@coreyshuman I'll work on this one.

[2019-01-31 01:23] ryekerjh opened #91 "Basic setup for Linting"
ESLint, TSLint, any other linters for other technology stacks we have.

[2019-01-31 18:10] #89 closed

[2019-01-31 22:32] mwallert commented on #80
@carlosvargas I just pushed up a starting point and moved some folders around, feel free to modify whatever you need. I'll continue building on this tomorrow!

https://github.com/Shift3/standards-and-practices/tree/mw/issue-80/aws/elastic-beanstalk

[2019-01-31 23:08] coreyshuman opened #92 "Proposed new process standard for workarounds in code"
I would like to propose a new Shift3 rule: If you add code that is a workaround, you should include a comment which explains why it's there, and links to an official Github issue.

We have an example in our Normalize app, where navigation doesn't work correctly when simultaneously closing a modal window. Under this rule, all instances of the workaround would look something like this:

[code]

This

[2019-02-01 20:49] carlosvargas commented on #92
I second this. While adding an official Github issue is a good idea, I would suggest that we should also add any Stack Overflow or blog post links that were used to come up with the workaround, since most of the time these links have more documentation about the actual issue than the Github issue itself.

I would also extend this to any overly complicated code that we didn't write. For example:

[

[2019-02-01 23:15] coreyshuman commented on #92
Oh yeah I like extending this rule to cover magic functions we find online.

[2019-02-01 23:16] kmausolf commented on #92
I'd like to add that you should always cite when you use someone's workaround when you find it online.

[2019-02-01 23:19] mwallert commented on #92
Yeah these are all good, sometimes we have a lot of "magic" we get from elsewhere which can create confusion when it needs to be adjusted/used elsewhere. @coreyshuman I'm thinking now we create a `Shift3 Rules to Code By` folder in the root and link it in the base readme. Thoughts everyone?

[2019-02-01 23:37] ryekerjh commented on #92
@mwallert I agree, we should have a designated folder for this stuff with a basic README.md to explain. It will grow over time time sure.

[2019-02-04 22:35] ryekerjh opened #93 "Add Search docs"
How do we do search in our different servers/DBs? Let's add some docs!
- [ ] Ryeker will take MongoDB

[2019-02-05 18:33] Fleury14 opened #94 "Circle CI Integration quick-start for various platforms"
It would be cool to have a one-stop place for setting up CI with CircleCI for various environments. This includes:

- [x] React Native (with expo)
- [ ] React Native (CRNA)
- [x] Angular

Feel free to add more!

[2019-02-06 01:03] coreyshuman commented on #92
@mwallert @ryekerjh I think that's a great idea. We should make sure the new employee on-boarding / `getting started` hits that `Rules to Code By` folder.

[2019-02-06 01:19] ryekerjh opened #95 "Update new employee readme"
With info related to giving props/explanations for workarounds in code

[2019-02-06 01:19] ryekerjh commented on #92
@coreyshuman I added issue #95 for this

[2019-05-09 15:48] ryekerjh opened #101 "Update our tagging/versioning procedures"
To include a diff link
[example](https://github.com/shift3/kolyde/compare/v0.5.0...v0.5.01)

[2019-05-09 22:42] FlavioShift3 commented on #66
- NativeScript: https://www.nativescript.org/
- Documentation: https://docs.nativescript.org/
- UI: https://www.nativescript.org/ui-for-nativescript
- Playground: [https://play.nativescript.org](https://play.nativescript.org/?_ga=2.234097438.1027288421.1557440601-1272203479.1537481082)

- Market place: https://market.nativescript.org/
- Sign in to slack community: https://www.nativescript.org/slac

[2019-06-07 23:45] stephengtuggy opened #105 "Document common pitfalls in process of deploying a Dockerized Django app to AWS EC2"

[2019-06-18 19:32] coreyshuman commented on #66
@Basim-Elayan @dunlavy @FlavioShift3 Please take a look at what we have in the Nativescript README, let's make a list of additional topics we would like to add.

[2019-06-18 19:40] coreyshuman opened #108 "Create Nativescript Boilerplate Application"
- Mobile app only for now
- Use Latest NS version
- Add the following screens
  - Login (simulated for now)
  - Example List View
- CircleCI
  - Unit Tests

- Create a new repo in Shift3, and then link to it in the nativescript README here.

[2019-06-21 04:24] zbyte64 commented on #94
- [ ] Docker

Have a workflow that uses docker to build the application

Ultra-Gro & topflavorfarms both have this feature.

[2019-06-26 21:19] mwallert opened #109 "Create Terraform Documentation"
Terraform is a potential solution for setting up IaC (Infrastructure as Code). There should be a folder with a readme and examples of `.tf` files for different things.

[2019-06-26 21:22] mwallert opened #110 "Create Terraform examples for AWS"
There should be some examples for setting up different AWS services with Terraform.

- [ ] S3 Bucket
- [ ] SSL Certificate
- [ ] Elastic Beanstalk
- [ ] Cloudfront
- [ ] Route53 Record
- [ ] EC2 Instance

[2019-07-01 19:01] ryekerjh opened #113 "Create Issue & PR Templates"
Come up with a basic template to be applied to all PRs across the org.

Some examples:
- [Github's docs](https://help.github.com/en/articles/about-automation-for-issues-and-pull-requests-with-query-parameters)
- [Some samples](https://github.com/flexyford/pull-request-template/blob/master/PULL_REQUEST_TEMPLATE.md)
- [A pretty good how-to](https://seesparkbox.com/foundry/better_pull_requests_merge_

[2019-07-02 23:07] #105 closed

[2019-07-08 18:05] ryekerjh opened #115 "Flesh out Project Boards"
We need a more thorough process for _how_ the project boards should be set up, and how to manage the repos for our devs and PMs.
[Here is the current process](https://github.com/Shift3/standards-and-practices/blob/5757e8e3917f0e3916857017d35cf87e22fc8823/git-and-github/project-setup.md)

@carlosvargas graciously volunteered to head this up [here](https://github.com/Shift3/standards-and-practices/p

[2019-07-10 20:44] coreyshuman commented on #115
@ryekerjh @carlosvargas
This process is out of date and no longer correct. Each project should represent an epic, and the content of the board should be kanban-style for tracking issue progress within that Epic.

Open to feedback on this, but I believe this is what Ryeker and I came up with last time we chatted. Please see how Sinclair boards are setup: https://github.com/Shift3/sinclair-scanner-a

[2019-07-10 20:46] coreyshuman commented on #66
@Basim-Elayan @dunlavy @FlavioShift3 ping. Let's not wait so long that we forget all the lessons learned from Row Forge. Please add notes here for any topics you would like to see turned into write ups/ examples/ etc.

[2019-07-10 20:49] coreyshuman commented on #108
@Basim-Elayan can you provide a link to the repo you're working on?

@kmausolf could you create a similar issue to this for the boilerplate you're doing? Please put it here in S&P, and assign yourself and @ryekerjh. Thanks!

[2019-07-10 21:04] Basim-Elayan commented on #108
https://github.com/Shift3/NativeScript-Boilerplate

[2019-07-10 21:36] dunlavy commented on #66
Will do.  Adding a reminder for myself in Slack.

[2019-07-11 20:56] Karvel commented on #115
Here is an example set of boards following Corey's proposal above.

https://github.com/Shift3/sinclair-scanner-api/projects

[2019-07-15 17:22] stephengtuggy commented on #66
See Google doc for Release Process SOP Draft here: https://docs.google.com/document/d/1ni4BLrsZwjKwgYXLNaNQQhFu5lQSiU54r5voY_58uCs/edit?usp=sharing

[2019-07-19 23:59] #113 closed

[2019-08-30 21:21] ryekerjh commented on #56
@TomAlperin I'll give you till Monday to respond, but I'd like to get this written up as a standard for the shop. @Shift3/pr-team what do ya'll think? ^^^

[2019-08-30 21:22] ryekerjh commented on #65
@Karvel I am guessing you're gonna be the one stuck with this one 😂

[2019-08-30 21:24] ryekerjh commented on #95
@Shift3/pr-team Any of you who have been hired in the last year, can you just throw in 1 single suggestion for either `A.` an addition to our [New hire docs](https://github.com/Shift3/standards-and-practices#new-to-shift3) or `B.` Clarification on somethign you didn't see or wanted to see more of.
Thaaaaaanks 👍

[2019-08-30 21:24] #101 closed

[2019-08-30 21:25] ryekerjh commented on #115
@coreyshuman @Karvel I am going to move forward with your suggestion and write this up. I'll submit it soon.

[2019-08-30 21:48] stephengtuggy commented on #56
[This link](https://git-scm.com/docs/git-rebase#_recovering_from_upstream_rebase) should tell you all you need to know.

I have personally experienced projects that I worked on, getting seriously messed up because I didn't know better than to use `git rebase`. My conclusion was never to use rebase again. It's just too dangerous.

As for cleaning up commit history? If you ask me, git commit history

[2019-08-30 22:22] ryekerjh commented on #56
@stephengtuggy That is an interesting opinion. What kinds of catastrophic things happened? We've had a few unfortunate overwrites on IFG but nothing deadly. @DropsOfSerenity @mwallert What do you guys have to say about this ^^^?

[2019-08-30 22:25] stephengtuggy commented on #56
@ryekerjh The project I was working on ended up with branch A that appeared to be based on branch B, but had additional code changes, with no record of those changes. It was very confusing, and eventually became just about impossible to fix.

[2019-08-30 22:26] justincohan commented on #56
In my experience rebasing can be more difficult and can lead to mistakes when you have to manually merge changes.  But I don't think it's necessary to require someone to use one way over another.

[2019-08-30 22:29] ryekerjh commented on #56
I have certainly seen this in the projects I have used Rebase on. I definitely don't want to "pick" one way over another, but I _do_ think a doc explaining the strengths vs. weaknesses of each method and how we want each to be performed @shift3 would be useful, no?

AHHHH!! 😱 That would be good to document in the `rebase` docs for this. Do you know how that discrepancy arose? Or is it just one of

[2019-08-30 22:42] DropsOfSerenity commented on #56
Theres a couple things being conflated here. @carlosvargas already covered a good amount of the good stuff. I'll try to be brief.

* The whole *point* of commit history is to be useful in the future, it's not necessarily to show every step you as the developer took, but more to provide information to your future self or other developers.
* Maintaining bundled and clean commit history allows us to

[2019-08-30 22:45] DropsOfSerenity commented on #56
Additionally rebased when learned avoids many issues. Merges become easier and less error prone when your branch is consistently rebased. Reverting commits and bisecting to find bugs becomes easier when your commit history isn't every single typo fix or indentation change you've ever made.

The flip side of having issues with rebase, is spaghetti commit history, constant `--no-ff` merges that ruin

[2019-08-30 22:50] DropsOfSerenity commented on #56
Lastly, I understand rebase can be hard, but most mistakes in rebase come from a misunderstand or fear of how git and git commit history works. I think we could tackle that problem by either finding or making some nice and easy to understand learning resources to help clarify the concepts.

[2019-08-30 22:51] ryekerjh commented on #56
@DropsOfSerenity Thanks for that thorough response! My greatest fear/misunderstanding is _how_ git chooses to create those funky merges that @stephengtuggy and I have seen before. If I knew the why/how, it would probably help prevent it in the future.

[2019-08-31 22:49] stephengtuggy commented on #56
@DropsOfSerenity I can see the advantages of what you are describing. If I could be sure that `git rebase` wouldn't mess up the repos I worked on the way I described, then I would certainly consider using it.

rebase is probably less dangerous on feature branches that only one person is working on. Squashing PR's might be OK too. We can discuss that further. I just wouldn't want to rebase on the `

[2019-09-05 01:39] ryekerjh commented on #64
@DropsOfSerenity Hey, look! we were _just_ talking about this in our FF meeting!! No time like the present 🕐

[2019-09-11 21:37] dunlavy opened #122 "Chore / No Xamarin, Make an Intro"
We need at least an intro Xamarin mark-down file.

[2019-09-20 04:33] #115 closed

[2019-09-20 05:55] Karvel opened #125 "Add Acceptance Testing Guide"
# Purpose

- To provide a guide on how to and why to implement acceptance testing.

[2019-09-25 17:14] codysmith287 opened #129 "Input Validation with RegEx"
Input validation is your first line of defense when creating a secure application. Will cover general best practices and JavaScript RegEx examples to use in your projects. Feel free to add RegEx examples of other flavors.

[2019-09-25 18:57] #55 closed

[2019-09-26 15:14] zbyte64 opened #131 "Python Code Quality"
Request for comments: what practices should we include in the writing of python code?

Here are a few to get the ball rolling:

* Use black for automatic code formatting: https://github.com/psf/black
* Write tests with pytest: https://docs.pytest.org/en/latest/
* All projects should have a requirements.txt , preferably with pinned requirements

[2019-09-26 19:21] stephengtuggy commented on #131
I don't use black for code formatting. I use Visual Studio Code for that.

@zbyte64 what are your thoughts on this?

[2019-09-26 20:59] stephengtuggy commented on #131
Write tests with pytest? Absolutely. `requirements.txt`? Definitely.

I might also add:
- For Django projects, at least, use Docker whenever possible. When this is not feasible, use virtualenv.
- Use spaces, not tabs, for indentation. 4 column "tab stops."

[2019-09-26 21:05] DropsOfSerenity commented on #131
My advice is:

* Don't recommend code formatting tools unless you enforce them with automation (git hooks, CI)
* Django has `django.test.*` and test cases should inherit from the Django test cases.
* `pip freeze > requirements.txt` should be used to generate requirements file. `Pipfile` was going to be a thing but it looks abandoned (https://github.com/pypa/pipfile)

[2019-09-26 21:26] DropsOfSerenity commented on #131
Other recommendations:

* Make POPO's (plain old python objects,) basically classes that follow the single responsibility principle.
* Agreed with use docker, or use `virtualenvwrapper` a nice shell wrapper that lets you manage multiple python virtualenvs.
* Don't use the django admin as a user facing administration tool, they recommend against this. Instead use it as a low cost administration too

[2019-09-26 22:09] stephengtuggy commented on #131
I think I have seen that recommendation before. Can you link to a source? Thanks.

[2019-09-26 22:36] DropsOfSerenity commented on #131
![image](https://user-images.githubusercontent.com/2287977/65729510-6745cf80-e073-11e9-884f-caf2bd49e011.png)

[2019-09-26 22:37] DropsOfSerenity commented on #131
From django documentation. https://docs.djangoproject.com/en/2.1/ref/contrib/admin/#module-django.contrib.admin

[2019-09-26 23:36] stephengtuggy commented on #131
@DropsOfSerenity Hmm. That's interesting. I had a different takeaway after reading the exact same paragraph. It sounded to me like trusted users / administrators within a client organization could be given access to the admin interface, while the average user would not have that access. That's how it is set up for Ultra Gro.

[2019-09-26 23:38] stephengtuggy commented on #131
Also for Ultra Gro, I ended up writing tests that fit both the `pytest` and `django.test.*` paradigms. Example file [here](https://github.com/Shift3/Ultra-Gro/blob/dev/app/proposals/tests.py).

[2019-09-26 23:42] DropsOfSerenity commented on #131
They explain the position in some django tickets on their issue tracker as well. The general jist of the thing is:

* Because of how much is autogenerated it is usually more information than a typical administrator of a system would need.
* Without configuration the administrator can easily mess up the system, because operations are entirely unrestricted by default.
* Configuring the admin for use

[2019-09-26 23:45] DropsOfSerenity commented on #131
@stephengtuggy You can access the testing database in a regular django `TestCase` that test should work without that decorator I believe, is there any reason you stuck with both?

[2019-09-27 00:14] stephengtuggy opened #133 "Errors in Windows setup guide"
After I wrote the Windows dev setup instructions, I tried following them myself, as I set up Windows 10 on my new MacBook Pro, and installed the necessary additional software afterward. I found some pretty significant problems with my instructions. For instance, copying and pasting the `choco` instructions didn't work. Also, `libreoffice-fresh` failed to download. Finally, my instructions were mis

[2019-09-27 16:58] stephengtuggy commented on #131
As I recall, the original tests were written for `pytest`. I wanted to keep my tests backwards-compatible, while also making them compatible with the more usual Django test framework.

In addition, the test code seemed more elegant that way. If one can make the same (test) code serve two different purposes without duplication, why not, y'know?

[2019-09-27 17:01] carlosvargas commented on #131
- I second the use of black.

  @stephengtuggy the Python VSCode plugin includes it. By default it uses ` autopep8`, but you can change it to `black`.

  @DropsOfSerenity Corey wants to start making sure we use a CI tool for all of our projects. We can me this part of it. Worst case, we can always just add a git pre-commit hook to the repo.

- I vote for containers as well. For those of us using V

[2019-10-01 22:15] kennethkoontz commented on #131
couple of thoughts

* pipenv which creates a pipfile.lock, think of npm or yarn for python
* gunicorn is pretty much defacto for wsgi in production and is pretty solid
* for channels or any server that needs asgi, daphne or uvicorn is good, i've used daphne in production and i think ordrslip uses uvicorn for asgi
* i agree that any type of code formatter should be checked in CI/automated or at the

[2019-10-01 23:34] stephengtuggy commented on #131
- `pipenv` sounds great.
- `gunicorn` is what Ultra Gro uses. I would be happy to make that our standard.
- I have also heard good things about Django Rest Framework.

[2019-10-04 21:03] zbyte64 commented on #131
I like gunicorn but would encourage others to experiment, especially with all the new asynchronous python going around.

In the same theme of experimentation, I wouldn't want to prevent someone from trying new libraries like: https://github.com/strawberry-graphql/strawberry ; as long as it is shown to have a healthy community and fits the requirements.

[2019-10-04 21:10] DropsOfSerenity commented on #131
Code quality is to me less about a set of perscriptive technologies, and more about a set of techniques to follow to keep your code clean. I agree with @zbyte64 perhaps we should define the borders of what we want "Python Code Quality" to accomplish and where it's boundaries should be.

General recommendation IMO should be preferred, the things I see people running into most in django is things li

[2019-10-07 20:41] #122 closed

[2019-10-07 21:06] carlosvargas commented on #131
I agree @zbyte64 and @DropsOfSerenity. We have to point out all those things and let people experiment, but we also need to provide at least some recommended libraries/frameworks/tools that they can use.

The reason is that a lot of people here don't have much experience with Python/Django or simple don't want to spend hours doing research on what's best to use. So we need to provide something for

[2019-10-07 23:08] stephengtuggy commented on #131
This may be relevant: https://www.toptal.com/django/django-top-10-mistakes

[2019-10-07 23:10] stephengtuggy commented on #131
As a follow-up to what @carlosvargas said, what about renaming this issue to "Shift3 Recommendations for Python Development" or similar?

[2019-10-10 20:20] #133 closed

[2019-10-12 02:28] DropsOfSerenity commented on #131
Good point.

[2020-01-08 23:49] stephengtuggy commented on #56
@DropsOfSerenity BTW, you also made a very good point that the overall purpose of git history is strictly utilitarian. And that a literal snapshot of every single atomic change you made is not necessary to achieve that.

Guys, what if we were to create a test repo or two? First see if we can reproduce the "funky merge" problem, then try to find the root cause and how to address it?

[2020-02-13 00:55] coreyshuman opened #142 "Add QA Process to Standards"
QA process documentation exists. It should be added to our standards.

[2020-02-18 06:43] #142 closed

[2020-02-20 00:04] Fleury14 opened #144 "Lessons learned with upgrading Expo SDK"
Hey folks, I just recently completed an SDK upgrade with Expo from 32 all the way to 36. Definitely ran into some issues that I'd like to document just in case anyone else ever has to go through this process in the future.

Where should I put this? Maybe a `lessons-learned` folder?

@ryekerjh @mwallert @carlosvargas - would love to get your input as to where I should place this?

[2020-02-20 00:25] ryekerjh commented on #144
@Fleury14 I think `best-practices/native/react-native/expo/upgrade` would work.

[2020-02-25 01:19] coreyshuman opened #145 "S&P Refactor and Content Cleanup"
Spring cleaning before the upcoming S&P review meeting.

Tasks:
- [ ] include content from Summits which is missing from this documentation
- [ ] rearrange some content to better group like-information
- [ ] move "processes" to a new dedicated folder

[2020-02-25 01:26] coreyshuman commented on #80
I had started on this but got sidetracked. Here are my notes for reference.

[code]

[2020-02-28 20:01] #145 closed

[2020-02-29 01:26] coreyshuman commented on #145
Ended up only really updating the README for the standards folder. This was very helpful in illuminating some other areas that should be addressed. I'll put together some new issues for those items.

[2020-02-29 01:27] coreyshuman commented on #125
This was completed: https://github.com/Shift3/standards-and-practices/blob/master/standards/acceptance-testing.md

[2020-02-29 01:27] #125 closed

[2020-02-29 01:28] coreyshuman commented on #108
Further progress on this will be addressed in the boilerplates project approved by Chris and Irma.

[2020-02-29 01:28] #108 closed

[2020-02-29 01:34] coreyshuman commented on #92
@mwallert @ryekerjh I'm continuing to find things that don't quite need a full dedicated file, but would be considered standards. Instead of a `Rules to Code By` folder, I think this could be a single file with important small items such as:
- Use Flow in React
- Use Typescript in Node
- Put business login in the server
- Write unit tests for your business logic
- add a comment with link to resour

[2020-02-29 01:38] coreyshuman commented on #38
This is as important as ever. The project managers have started moving a lot of this work to the beginning of a project, getting client-owned accounts setup earlier. But we still need a guide or checklist for these things.

@Shift3/pr-team would anyone like to get started on putting checklist together for this?

[2020-02-29 01:40] coreyshuman commented on #57
I suspect the right place for this to live will be within our Angular boilerplate now that it is underway.

[2020-02-29 01:41] coreyshuman commented on #91
@Shift3/pr-team does anyone have a slick linter setup they would like to share with the team?

[2020-02-29 01:47] kmausolf commented on #92
I feel like this is the situation where we need a Wiki.  Separating these out into folders is nice, because I can quickly find what I'm looking for, but having them all in one file prevents us from having to maintain a ton of different folders.  A Wiki for this would benefit both ends of this.

[2020-02-29 02:14] DropsOfSerenity commented on #91
[code]

autoformat js and typescript in vim using prettier so that I don't ever have to worry about formatting. I'm sure there's an equivalent for vscode.

[2020-02-29 02:46] ryekerjh commented on #38
@coreyshuman shouldn't this be covered in the projects readme `deployment` section?

[2020-03-05 02:14] ryekerjh commented on #144
Also, this is a GREAT idea!

[2020-03-11 17:53] coreyshuman opened #148 "QA Process: Email Requirements"
- [x] Fix formatting for email requirements
- [x] Add billable question to email

[2020-03-11 18:10] #144 closed

[2020-03-11 18:16] Karvel opened #150 "Add Purpose to Acceptance Testing Standard"
## Desired Use Case

Each standard should have a `Purpose` header at the beginning explaining why we have instituted the standard.

## Actual/Current Behavior

The Acceptance Test standard has an explanation but the name isn't standardized.

## Steps to Reproduce the Problem/Implement this feature

  1. Update the header name to make it consistent and clear.
  2. Improve phrasing in standard.

[2020-03-13 06:47] #150 closed

[2020-03-13 19:16] #148 closed

[2020-03-24 20:24] Fleury14 opened #152 "Dist certs/Provisioning Profile writeup (Expo)"
Distribution certs? Provisioning profiles? What do I do when they expire? A write up for how to handle this would be super useful. (I'mma do the Expo side, but the CRNA side could use a write up too!)

[2020-03-25 21:12] coreyshuman opened #154 "Improve Project Boards Standard"
The standard for project boards needs some major improvements. It assumes a lot of previous knowledge and is very light in details. The following tasks would majorly improve the effectiveness of this standard:

- [ ] Provide context for the terms. What is an SOW? What is a feature set? etc...
- [ ] Provide context for the goals this standard tries to achieve. (sow tracking, PM reporting, etc)
- [

[2020-03-25 21:56] Karvel commented on #154
I would further explain the difference in flow between Fixed Bid projects (where the SOW defines the project boards and milestones are easier to predict months in advance), and Time and Materials projects (where projects and milestones are usually defined through sprints).

[2020-03-30 19:40] coreyshuman opened #155 "Improve QA Process Standard"
- [ ] Create intro / purpose section for standard
- [ ] Link to the example QA project: https://github.com/Shift3/qa-process-example
- [ ] Create a template for Sprint Issue creation
- [ ] Create a quick checkoff list or project board setup
- [ ] Add color codes to labels

[2020-03-30 20:01] coreyshuman commented on #56
`Feature branches should always be squashed into a single commit to aid this purpose.`

I suspect @Karvel will have opinions on this, if you want to chime in.

`When merging a feature branch into develop, always squash and commit and rewrite the commit message to represent the scope of work your branch represents. Basically the commit message should be the PR message.`

Github PRs already provide

[2020-03-30 20:16] coreyshuman opened #156 "Create standard list of Shift3 labels for Github"
Github allows Organizations to have custom labels which are automatically added to all new projects. I would like to leverage that feature to generate a standard set of labels to be used at Shift3 moving forward.

Label categories would include:
- QA testing labels per the QA process standard
- Issue priority levels (low priority, high priority, critical)
- Issue categories (bug, enhancement, docu

[2020-03-30 20:27] coreyshuman commented on #152
Excellent topic! This is super important to have a game plan for. Thanks for taking the lead on this JR!

[2020-03-30 20:29] #152 closed

[2020-04-06 18:45] Karvel commented on #156
I would suggest tweaking the issue category section to match the Karma commit types: `bug`, `chore`, `docs`, `feat`, `refactor`, `test`, `style`. It would make sense to also keep `discussion` and `question`.

[2020-04-06 22:41] michaelachrisco opened #157 "Add more detail on git branches"
As per discussion with @coreyshuman, we should add more detail on why we chose our particular git branching structure.

When a developer first makes a git branch, the docs state:

which does not state what modern GUI based git clients (and some command line clients) do with the git branches. Often, these GUI based tools like gitkraken and sourcetree, will organize branches by the standard `<initia

[2020-04-06 22:43] michaelachrisco commented on #157
Next steps, I think, is to discuss and find documentation supporting our git branch styles beyond just "it looks better" (although its a good argument).

[2020-04-06 22:47] michaelachrisco commented on #157
Gitkraken has some good resources on why you may want to use both standards above as well as the developer initial setup.

https://support.gitkraken.com/git-workflows-and-extensions/git-flow/

[2020-04-07 17:14] michaelachrisco commented on #94
@Fleury14 Circleci + Angular is pretty easy now-days.

Oldish Example: https://medium.com/@brunopgalvao/building-an-angular-app-with-continuous-integration-on-circleci-41c68d668b12

Please with the newest version of Angular and it works.

[2020-04-07 18:06] mwallert commented on #156
I like these suggestions. We have a few created on IFG that we used quite a bit.

`HOLD` or `on-hold`, `client change request`

[2020-04-07 18:49] mwallert commented on #157
I'm a fan of either `<initials>-<issue#>-<short-description>` or `<initials>/<issue#>-<short-description>`, I've been usually the later for awhile. Even if the `/` doesn't do any real good, I like it as a visual separator. I believe @pratimasakinala and @ryekerjh had some docs written up that we followed on a few projects with good success.

[2020-04-07 18:53] michaelachrisco commented on #157
@mwallert I am under the same opinion. As long as the issue number and short description are in the branch, usually its fine. Feature might be overkill for most projects (unless its a huge monolith maybe?). I had some questions on why the initials were part of the equation until @dunlavy pointed it out.

[2020-04-07 18:53] mwallert commented on #85
@carlosvargas I believe you got this finished right?

[2020-04-07 22:57] carlosvargas commented on #85
Yeah, it's https://github.com/Shift3/standards-and-practices/blob/master/best-practices/development-tools/aws/cloudfront-set-up.sh

Not sure why I didn't close this when the PR was merged in, but I'll do it now.

[2020-04-07 22:57] #85 closed

[2020-04-08 16:03] michaelachrisco opened #159 "C# specific standards"
I don't currently see any C# related docs in the repo.

I am thinking somewhere in: https://github.com/Shift3/standards-and-practices/tree/master/best-practices/server-side/framework/dotnet

Related to #65

[2020-04-08 19:56] michaelachrisco opened #160 "Provide more info on Frameworks"
At the moment, the [framework](https://github.com/Shift3/standards-and-practices/tree/master/best-practices/server-side/framework) page simply states:

*    Node - [needs more info]
*   Python - [needs more info]
*    Ruby - [needs more info]
*    .NET - [needs more info]
*    PHP - [needs more info]

Im thinking something like:
1. At least a basic description on frameworks. We could even take the

[2020-04-08 20:22] michaelachrisco opened #162 "Double checking outside links in repo"
When a README project becomes large, it starts to have links that are broken in some manner. So far, for this project, I have not found any erroneous links.

There is a way to check automatically if the links are all working via the gem `awesome_bot`. Ive used this in another personal project (here is the CI build): https://github.com/michaelachrisco/Electronic-Interchange-Github-Resources/blob/ma

[2020-04-08 20:44] michaelachrisco commented on #156
A common I used is `waiting-for-client`. Useful when the team has completed a task and needs feedback/approval from the clients. Similar to @mwallert `hold`.

[2020-04-08 20:50] mwallert commented on #162
@michaelachrisco I like this idea and I hope we can find more tools like this to remove other manual checks.

[2020-04-09 19:13] Karvel commented on #159
I think we should chat about this. There is already a @Shift3/devs-dotnet organization team. I've got some ideas more for .NET Core patterns and tooling than C# in general. I know Corey does as well.

[2020-04-09 19:28] michaelachrisco commented on #159
@Karvel Absolutely, I have some thoughts, mostly just clean code kind of patterns etc... There are C# specific ones that may work better for the env but I would rather get everyones thoughts before we start on actually changing what we already have.

[2020-04-09 19:33] Karvel commented on #157
I like having the issue number and a short description in the branch name. Feature makes sense to me if a project is making use of epics (when feature means karma category I prefer organizing that through labels). I prefer issue number to initials in the branch name because branches can be reassigned. I'm fine with or without the `/` separator (and I do use a GUI Git client that organizes by direc

[2020-04-09 19:38] Karvel commented on #56
I don't think this standard (either rebase vs merge or squash vs not squash) needs to be enforced shop-wide. I think this can be per-project. The preference here is tribal and people are disinclined to change. Within a project it makes sense to keep a standard consistent.

I personally find a ton of value in not squashing commit history because I also do extremely atomic commits, which tell a stor

[2020-04-09 21:00] Karvel commented on #156
Here are the labels I commonly use. I've included both a screenshot to show the colors, and the JSON of the payload the API would need to [add these programmatically](https://developer.github.com/v3/issues/labels/). I left the default initial labels. We would want to add the other labels like `low priority`, `high priority`, `critical`, `hold`, `waiting-for-client`, etc.

![Screen Shot 2020-04-09

[2020-04-09 22:18] michaelachrisco commented on #64
On the ruby side, Ive had some luck using [rubocop](https://github.com/rubocop-hq/rubocop). Ive found it works pretty well with plain ruby or ruby on rails projects in the past.

Example here: https://github.com/westernmilling/gman-services/blob/master/.rubocop.yml

Not sure if this is outside of the current scope or not, but thought I would add.

[2020-04-09 22:24] michaelachrisco commented on #91
Ive used [rubocop](https://github.com/rubocop-hq/rubocop) for ruby on rails apps before. Works pretty well on standard rulesets but you can get very specific as well.

For python, I have used python [black](https://github.com/psf/black).
For Laravel/PHP Ive heard good things about: https://github.com/overtrue/phplint, altough I just used the phpstorm default Linter in the past.

[2020-04-10 16:37] stephengtuggy commented on #56
Hey guys :wave: . Hope you are all doing well.

I can still see this `standards-and-practices` repo. Does that mean that I am still welcome to participate in discussions like this one?

[2020-04-10 16:59] FlavioShift3 commented on #56
Hi Tuggy,
Your opinion, in my opinion, is great opinion!!!
I hope you are doing well.

Keep in touch.

Best regards,

*Flavio Sampaio*  | Software Developer
Shift3 Technologies, a Bitwise Company
559-560-3300 | www.shift3tech.com
*Bitwise 41 | 2721 Ventura Street, Fresno, CA 93721*
More Shift3? Subscribe here <https://shift3tech.com/follow-us/>.

On Fri, Apr 10, 2020 at 12:38 PM Stephen G Tuggy <n

[2020-04-13 17:13] michaelachrisco commented on #94
Better yet, we can just steal: https://angular.io/guide/testing#configure-project-for-circle-ci

[2020-04-13 19:03] michaelachrisco opened #165 "Spelling and Grammar"
I found some spelling and grammar mistakes in the repo. This is a generic catchall issue.

[2020-04-16 20:57] carlosvargas commented on #56
@coreyshuman a `git bisect` isn't really useful when doing a PR. Its use case is for when you are debugging something and are trying to find when a bug was introduced. You can try to do it by walking through the code, but most of the time it is easier to do that when you know which commit was the culprit. In addition, you also have the context of how the bug was introduced, maybe it was a side eff

[2020-04-16 21:34] mwallert commented on #56
This issue has been open for a long time and I was assigned sorry! 😅

When I first started using Git, I felt like preserving the entire commit history was the most important thing. It is very important don't get me wrong, I just don't like having random commits plugging up the dev branch when things are merged in. It's hard to track the history of a branch when every merge is 1-10+ commits.

On to

[2020-04-23 23:19] michaelachrisco commented on #95
@ryekerjh found a couple of new hire links that no longer go anywhere.

Example is Acceptance Testing and Bug Reporting.
Ill do a quick pass over the docs and see what else I find.

This is related to: #163

[2020-04-23 23:30] michaelachrisco commented on #95
Quick pass reveals only two links are broken. PR should have the fix. wonder how many people have actually gone over the linked resources....

[2020-04-24 15:52] michaelachrisco commented on #59
@ryekerjh Ive always thought that Digital Ocean had some of the better docs regarding the installation process on the Linux side: https://www.digitalocean.com/community/tutorial_collections/how-to-install-and-use-postgresql Maybe we can start with that?

[2020-04-27 14:29] michaelachrisco opened #168 "Missing links"
The project has a number of missing links to resources.

First round Links:

- [x] https://github.com/Shift3/standards-and-practices/blob/master/standards/readme-guidelines.md Missing link: https://github.com/Shift3/MagtekCardReaderMiddleware/wiki
- [x] https://github.com/Shift3/standards-and-practices/blob/master/standards/code-reviews.md
Missing link: https://blog.fogcreek.com/effective-code-rev

[2020-04-27 14:38] michaelachrisco commented on #168
@coreyshuman or @ryekerjh does the MagtekCardReaderMiddleware repo still exist? Should we remove these references in the readme-guidelines?

[2020-04-27 14:57] michaelachrisco commented on #168
I went ahead and removed the link.

[2020-04-28 21:23] coreyshuman commented on #110
@mwallert We need Terraform examples!

[2020-04-28 22:02] mwallert commented on #110
@coreyshuman I have some modules I've been working on I'll get something going this week

[2020-04-29 00:03] coreyshuman commented on #156
@Karvel which project is this so I can add a few more labels? Also, did you extract that JSON or do it by hand?

[2020-04-29 16:57] carlosvargas commented on #110
Don't forget that we have an in-progress branch: https://github.com/Shift3/standards-and-practices/tree/ac53b5655b09947150fbc555e4e818d35c1e63a7/aws/terraform/eb-cloudfront

[2020-04-29 17:44] mwallert commented on #110
Indeed. I have part of one done for EB that is split into a module but I haven't tested actually running it. I have some time blocked out Friday that I'll start pushing this stuff up.

[2020-04-29 21:08] michaelachrisco opened #170 "Recommended Reading"
This is based on a slack conversation.

Would it be useful to have a page that contains resources/links to common software development patterns? A recommended reading list? Im thinking they should be mostly language agnostic since we have specific pages dedicated to Typescript/Angular/React/etc...

Some example resources:
## Online/ebook format:
* https://refactoring.guru/design-patterns: Helped m

[2020-05-01 00:42] coreyshuman commented on #159
So we're in the awkward position where we've pretty much never really done any .NET projects from scratch at Shift3 (exception Sinclair), we're always inheriting and maintaining legacy software from clients or working in staff augmentation settings where we follow the client's standards. That said, once we get around to the .NET server boilerplate, that will be a great opportunity to start develop

[2020-05-01 01:03] #157 closed

[2020-05-01 01:28] coreyshuman commented on #56
@carlosvargas You are beginning to sway me. I have some additional questions:

- If master is constantly squashed while dev is left unfolded, does that cause any weirdness or difficulties next time you want to merge dev into master?
- How do Github PRs react to rebasing after it was created? Wouldn't that mess up it's ability to label comments outdated / show new changes?

It sounds like we should

[2020-05-01 16:04] ryekerjh commented on #170
We talked about doing a reading list/book club type setup before COVID where we would read a chapter a month and get together to talk about it. I know @dunlavy was pretty interested in it, and I was too. I'd be down to do a Google Meet once a month to discuss the CS book of the month!

[2020-05-01 16:34] michaelachrisco commented on #170
Im down for it.

[2020-05-02 00:49] Karvel commented on #170
Here are my recommendations to throw on the pile:

## Ebook (and maybe physical copy)

- [Refactoring: Improving the Design of Existing Code: Martin Fowler, Kent Beck, John Brant, William Opdyke, Don Roberts, Erich Gamma](https://www.amazon.com/Refactoring-Improving-Design-Existing-Code/dp/0201485672)
A great primer on the benefits of refactoring with practical suggestions given real(ish) code exa

[2020-05-02 22:14] stephengtuggy commented on #56
I just hope that the appropriate distinction is being made here between [upstream rebasing](https://git-scm.com/docs/git-rebase#_recovering_from_upstream_rebase) and other rebasing cases. Other than that, I don't know that I have much input to offer at this point.

[2020-05-04 17:07] michaelachrisco commented on #170
@Karvel Refactoring is an amazing book. Never heard of 99 Bottles, ill have to take a look.

[2020-05-04 21:51] michaelachrisco opened #172 "More detailed language/framework breakout"
Jumping on what @Karvel said. I think what we can do here is:

- [Language] - [description]
   - [Framework 1] - [description] - [link to internal docs]

Might be more work (sorry!) but it gives a Table of Contents page for all the frameworks we use.

_Originally posted by @carlosvargas in https://github.com/Shift3/standards-and-practices/pull/161#issuecomment-613039349_

[2020-05-04 21:52] #160 closed

[2020-05-06 21:40] zbyte64 commented on #93
- [ ] Elasticsearch for robust searches

[2020-05-06 21:55] zbyte64 opened #174 "Container standards"
Thinking we are missing a file for container standards: `standards/containers.md`

It should cover how we setup:

- [ ] docker-compose.yml
- [ ] Dockerfile

Proposed standards:

`docker-compose.yml` should provide a test bed with a `docker-compose up` with any additional steps (ie loading fixtures) documented.

`Dockerfile` should provide a unified image to be used both for development and product

[2020-05-07 14:41] michaelachrisco commented on #56
Came into this late, but if anyone would like to see an actual project that uses the whole `Feature branches should always be squashed into a single commit to aid this purpose.`: https://github.com/westernmilling/gman-services/commits/master

It appears they are still maintaining the same standard. Its been around since 2015ish so you can see the evolution if you care to look.

At first, we were d

[2020-05-12 18:53] michaelachrisco commented on #174
We should probably coordinate with the https://github.com/Shift3/laptop repo. It looks like it already comes with docker, so thats good.

[2020-05-12 20:21] michaelachrisco commented on #168
The entire page: https://github.com/Shift3/standards-and-practices/tree/master/best-practices/client-side

There are 5 links, all of them get 404ed.

[2020-05-12 20:29] michaelachrisco commented on #168
So it appears as though this was part of the scss standards at some point but was removed:

https://github.com/Shift3/standards-and-practices/commit/206f5898d0b537fc46e182c17ff469338ecd1e7b

@ryekerjh It looks like it was back in 2018. Should this be added back into the repo, or should we create a new issue for this one?

[2020-05-18 20:54] Karvel commented on #156
I've got these in all of my repositories:

https://github.com/Shift3/tulare-court-client
https://github.com/Shift3/boilerplate-client-angular
https://github.com/Shift3/sinclair-scanner-website
https://github.com/Shift3/sinclair-scanner-api

Also, I used the API. I made a readonly token to learn how to use it and got the list using [this endpoint](https://developer.github.com/v3/issues/labels/). An

[2020-06-17 19:33] thomascking opened #181 "Media cropper component for React"
Adding a component for React to allow cropping images for specific shapes.

[2020-06-25 19:42] ryekerjh opened #184 "Add strict typing to React & React Native reusable components"
We need to add strict typing (with either [Typescript](https://www.typescriptlang.org/docs/handbook/react.html) or [Flow](https://flow.org/en/docs/react/)

**Describe the solution you'd like**
I'd like to implement this with Typescript so that everyone who knows it already can transition to React more easily.

**Describe alternatives you've considered**
Flow is easier to set up with React, but it'

[2020-06-25 20:17] michaelachrisco commented on #184
This is a great topic. I have no strong opinions but I personally gravitate towards using typescript if only for the OO style of work. But this may not translate well over the entire org?

Flow is easy to set up via CircleCI (just `yarn flow` and away you go) and the error statements are usually pretty self explanatory. Its made React and state management a bit more manageable.

[2020-07-01 21:25] ryekerjh commented on #184
I agree, and I hope that it'll cause more devs to add to our reusable components collection!

[2020-07-02 16:55] #184 closed

[2020-07-08 19:25] #168 closed

[2020-07-08 21:11] #172 closed

[2020-07-10 23:28] ryekerjh commented on #154
@Karvel @pratimasakinala Would you be willing to collab on this with me so that we can actually get it updated IRL?

[2020-07-10 23:36] michaelachrisco commented on #12
So Im not 100% sure why this issue was closed.

We still list Vue on our client side frameworks, but the link does not go anywhere: https://github.com/Shift3/standards-and-practices/tree/master/best-practices/client-side/framework

What is everyones opinion on the framework 3 years later?

[2020-07-13 22:48] ryekerjh opened #186 "Update sign up doc for presentations"
The sign up sheet for S&Ps has been updated from a Google Doc to a Google Sheet and that change needs to be reflected in the repo.

**Describe the solution you'd like**
We need to replace the old link with the one to the Google Sheet

**Describe alternatives you've considered**
..._not_ replacing it?

**Additional context**
n/a

[2020-07-14 17:07] zbyte64 commented on #12
Vue is my favorite of the three (Angular, React, Vue) because I find it ergonomic, they have thought about how to make the component easy to understand and provide guidance for common use cases.

I am not sure if we should concentrate on providing a boilerplate, they vue cli is pretty awesome for adding new services to the project (think `vue-cli add apollo-graphql`.

[2020-07-16 20:12] michaelachrisco commented on #12
Thanks for the feedback @zbyte64! Since orderslp uses Vue, we should at least have some general information on the framework.

I am going to pull in @cobyfielding work on https://github.com/Shift3/standards-and-practices/pull/77 and at least get the READMEs back in.

[2020-07-16 20:44] #186 closed

[2020-07-21 15:53] michaelachrisco commented on #162
Finally got everything setup on this end. Looks like our master branch has some links that are not going anywhere in this repo.
https://app.circleci.com/pipelines/github/Shift3/standards-and-practices/1/workflows/901200cd-c0d2-47cb-bd51-8a801bd6c8fd/jobs/1

PR coming soon to fix.

[2020-07-21 16:17] michaelachrisco commented on #162
Awesomebot is having issues with internal private links. For example: https://github.com/Shift3/ifg/compare/v0.4.0...v0.5.0 causes awesomebot to fail within standards/code-versioning.md

Anyone outside of the org that is using this link will not be able to navigate to it. Ill whitelist it for now, but we may want to create a new issue where we discuss having the S/P repo contain private repos with

[2020-07-22 00:01] coreyshuman commented on #162
This is awesome, the bot was well named!

Is it possible to configure it to ignore local/example URLs such as **http://127.0.0.1** ?

[2020-07-24 21:53] michaelachrisco commented on #170
Found another great list of book here: https://blog.pragmaticengineer.com/my-reading-list/

via this article:
https://blog.pragmaticengineer.com/advice-to-myself-when-starting-as-a-software-developer/

Very good read.

[2020-07-27 19:39] michaelachrisco commented on #12
Added back in basics into this repo. I think we should attempt a boilerplate repo at some point to demonstrate a good living project. Closing.

[2020-07-27 19:39] #12 closed

[2020-07-27 19:45] michaelachrisco opened #190 "Clear Presentation page link"
**Clear Presentation URL**
Users should have an easy url to get to the presentations README. This will also help new developers take a look at upcoming presentations.

**Description**
Update the main project README with a link to `presentations/README.md`.

[2020-07-28 16:06] michaelachrisco opened #192 "Lesser known git commands"
**Lesser known git commands**
I noticed a lack of some less used but useful git commands within `standards-and-practices/standards/branching.md`
We may also want a new page on git commands in particular? What does everyone think?

**Proposed additions**
I would like to add the following git commands to the list:
1. git stash: I use `git stash` everyday to switch code that needs to be temporarily s

[2020-07-29 17:40] ryekerjh commented on #154
@Karvel @pratimasakinala ping ^^^

[2020-07-29 17:49] ryekerjh commented on #95
@Shift3/pr-team Any of you who have been hired in the past 6 months, we would LOVE your input on the new hire resources. Your experience is invaluable in this time of tectonic shift and change in our work policies and organization.

[2020-07-29 19:18] khiavdim commented on #95
It was daunting for the first few weeks but @kmausolf was able to do a walk through session of the standards and practices with me and @vinsonf a few weeks ago and that was able to clear up a LOT of confusing issues that was on my mind. That plus actually using Github was able to make me feel comfortable with the policies. I think if the new hires were able to get that walk through session, it wou

[2020-07-29 20:47] kmausolf commented on #192
I agree that these commands are useful, in addition to the ones currently in `branching.md`.  From my perspective, however, `branching.md` should concern itself with branching patterns that Shift3 has found to be effective for facilitating a smooth workflow.  If we're going to take on Git CLI tutorials, we should do so in a separate file (perhaps a `gitcli.md`?).

For example, when I was sharing o

[2020-07-29 20:49] kmausolf commented on #154
@ryekerjh If you need assistance with this, let me know!  I have a bit of experience setting up these boards and translating SOW to issues/project boards.

[2020-07-29 21:18] Karvel commented on #154
Sorry, this came in when I was out of the office and I didn't see it. Let's do it!

[2020-07-29 23:58] michaelachrisco commented on #192
I agree, a gitcli.md or UsefulGitCommands.md might be a better place to put these other commands. Maybe even some git hooks?

[2020-07-30 00:00] kmausolf commented on #192
I'd love to learn more about Git hooks.  That'd be great!

[2020-07-30 00:06] michaelachrisco commented on #192
Githooks are so useful before you commit something XD. Ill add in a few that I use and see what everyone thinks.
Anyone else using githhooks?

[2020-07-31 20:55] #190 closed

[2020-08-07 15:27] michaelachrisco commented on #66
Hello everyone, is this still being worked on?
https://github.com/Shift3/standards-and-practices/blob/master/best-practices/native/nativescript/README.md

[2020-08-07 15:32] michaelachrisco commented on #61
So at the moment, we have some JS frameworks here: https://github.com/Shift3/standards-and-practices/tree/master/best-practices/client-side/framework

Do we want to add JS specific best practices to the `best-practices/native` page? What has helped in the past when writing, styling and running javascript?

[2020-08-07 15:37] michaelachrisco commented on #28
@ryekerjh I see this was added a while back:
https://github.com/Shift3/standards-and-practices/commit/206f5898d0b537fc46e182c17ff469338ecd1e7b

but was removed a while back. Do you think it would be useful to add this README back in?

[2020-08-07 15:43] FlavioShift3 commented on #66
I think so. We added few informations when we finished Rowforge project. Now we have new project I will add more staff here.
Like how handle environments (prod, dev, stage) and more.

[2020-08-07 15:53] michaelachrisco commented on #66
Sounds great, thanks @FlavioShift3.

[2020-08-07 15:53] FlavioShift3 commented on #66
But I think this issue can be closed. I will create another issue to keep NS updated

[2020-08-07 15:58] michaelachrisco commented on #66
Agreed, I think the scope of this is finished by the `nativescript/README.md`. Closing.

[2020-08-07 15:58] #66 closed

[2020-08-07 16:22] ryekerjh commented on #61
@michaelachrisco I had a very eye-opening talk the other day with a more senior dev I know and he challenged me to ask myself the `why`. In other words, are we reinventing the wheel by writing our own versions of these JS best practices? Is there an existing resource we can link to that would be just as effective, but would take us less time? What are your thoughts?

[2020-08-07 19:33] Karvel commented on #61
I would say that compiling resources is fine. Often times people will lightly curate resources and guides. Part of best practices for a shop is defining a common standard. Javascript is an especially open ended language that allows many different approaches. It's helpful to have resources that support shop style. For instance, we encourage using TypeScript for most Javascript projects and Flow for

[2020-08-14 14:48] michaelachrisco commented on #192
Some interesting git aliases here: https://medium.com/hackernoon/lesser-known-git-commands-151a1918a60

[2020-08-14 15:19] michaelachrisco opened #195 "Native best practices 404 links"
**Native Links**
https://github.com/Shift3/standards-and-practices/tree/master/best-practices/native contains four links that 404.

**Describe the solution you'd like**
All links should be fixed to include the current READMEs urls.

**Describe alternatives you've considered**
I would be nice to consolidate these by Subject Matter Experts (or anyone that would like to contribute).
We may also want

[2020-08-14 20:16] FlavioShift3 opened #197 "Implement NativeScript-Angular Environment setup"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when build in prod or stage we need tweak the code to do so. Nativescripe-Angular does not offer a direct way to do so.
Also we does not follow best practice when use environment files.

**Describe the solution you'd like**
Create a way to make that process easy like clear angular commands example `ng build --

[2020-08-14 20:21] FlavioShift3 opened #198 "Handle image in Nativescript-Angular"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when we try to use images in app made with nativescript-angular. All images need to be in high definition and the app needs readjust we rendering the page/screen. Android/IOS request image be resized and save in multiples folders or names indicate it size.

**Describe the solution you'd like**
I propose to use

[2020-08-14 20:35] #197 closed

[2020-08-14 21:00] FlavioShift3 opened #199 "Nativescript - Create multiple folder for each technology"
**Is your feature request related to a problem? Please describe.**
Nativescript can work with multiple technologies, like angular, javascript, typescript, vue, and react.
For now we have developing project with NS with Angular.
To not confuse other developers, we need add `Nativescript-Angular`. When reference in what tech base we work with.

In the future, when we have new projects using diff tec

[2020-08-14 21:18] #195 closed

[2020-08-14 23:45] #198 closed

[2020-08-17 19:19] michaelachrisco commented on #59
I am thinking for MSSQL, we could go over how to create it and which version one should chose for a project via:
1. Developer edition
2. Express
3. MS Server

I am also thinking Microsoft own documentation may be the best starting point for this:
https://www.microsoft.com/en-us/sql-server/sql-server-downloads
They even have a docker instance.

Thoughts? What has been the hardest part of setting up

[2020-08-19 15:50] michaelachrisco commented on #94
@Fleury14 Do you happen to know if we have any React Native projects with working CircleCI configurations?

Im taking a look at: https://circleci.com/orbs/registry/orb/react-native-community/react-native and it involves a custom orb that seems to be what we are looking for.

[2020-08-19 16:06] michaelachrisco commented on #88
Is there any updates on this one?

Do we happen to have any sample Android/Apple projects we can use here?

[2020-08-19 16:49] Fleury14 commented on #94
Not that I'm aware of. I know the problem I ran into with Listing Alert was that I could never get basic tests to pass. I believe @kmausolf ran into a similar problem a while back. That said, there's probably been upgrades to RN since then.

[2020-08-19 17:00] Basim-Elayan commented on #88
We have this project https://github.com/Shift3/row-forge-ns/wiki but unfortunately it's not complete and doesn't have everything we need, I added this task to my to do list.

[2020-08-25 16:17] michaelachrisco commented on #94
@kmausolf and/or @Fleury14 What would be a good repo if we wanted to create a working circleci build/testing workflow? https://github.com/Shift3/rn-by-example
or would a new repo be the way to go? Something else? I feel like I want to take a stab at it and document the issues that we come across if we cant get it working.

[2020-08-25 17:03] Fleury14 commented on #94
Yeah, I think that's a great place to start.

[2020-08-26 19:11] michaelachrisco commented on #192
I'm starting on githooks as a concept and attempting to make it work with node wince I assume that is what most of the projects are using ATM.

Found a somewhat dated resource here: https://medium.com/@satya164/improving-nodejs-workflow-with-git-hooks-40996830619f that has **human readable** descriptions on the different hooks you can use in node.

Does anyone use githooks in their workflow? What

[2020-08-28 01:56] coreyshuman commented on #59
Generally if we're using MSSQL, it's because a client is self-hosting their infrastructure. In those cases we would be connecting to SQL Server in a Windows environment, often on a private network through a VPN.

I think we should hit this from two angles:
- If you're developing on Windows, for Windows, use the latest SQL Server Developer edition and SSMS (or dbeaver).
- If you're developing NOT o

[2020-08-28 01:58] coreyshuman commented on #59
We should also include resources for T-SQL. It's got quite a few syntactical differences and additional features compared to the Postgres SQL flavor, which would be good to know about if you're going from one to the other.

[2020-08-28 15:05] michaelachrisco commented on #59
Thats a good idea. MSSQL, PostgresSQL, MySQL, Oracle, DB2 ....all have slightly different syntax. Im wondering if that should be its own issue as well, since this issue is about the setup process.

[2020-08-28 15:08] michaelachrisco commented on #59
Sounds like some good points. The only thing is MSSQL now runs naively on Linux, so a developer could create a localized version of MSSQL and hook into that. Or are we trying to push more docker-ized setups within projects?

I've done both in the past and both are pretty easy to set up as long as you follow Microsoft's instructions to the letter.

[2020-08-28 18:04] Karvel commented on #59
It might still be worth dockerizing MSSQL. For the .NET **Core** projects I've done at Shift3, it has been convenient to have the database dockerized, because it allows for portability and development on multiple architectures, including Windows. It's nice to have the option, especially since new developers might join a project and not develop only on Windows. Obviously, this refers to Core and no

[2020-08-28 18:07] Karvel commented on #59
Also, the [Shift3 dotfiles project](https://github.com/Shift3/laptop) sets up PostgresSQL (and Mongo). Many new hires are installing that as it is part of the onboarding process. It's worth including reference to it since it takes care of Postgres on Macs and (many varieties of) Linux.

[2020-08-28 19:31] michaelachrisco opened #201 "Example bug template within S/P repo"
**Bug template**
We do not have a bug template within this repository, but we do have them within other internal projects. Dealing with bugs is an every day occurrence for us, so having a standard template would be useful.

**Describe the solution you'd like**
We should create(or steal) a good GitHub bug template to use in other projects. It would be ideal if we can use a known good one that is al

[2020-08-28 21:12] Karvel commented on #201
I've been using this: https://github.com/Shift3/boilerplate-client-angular/blob/development/.github/ISSUE_TEMPLATE/bug_report.md

[2020-08-28 23:46] michaelachrisco commented on #201
Looks perfect for our needs. Do you mind adding it to this repo?

[2020-08-31 20:08] #201 closed

[2020-09-03 21:41] kmausolf opened #204 "PR Template is Missing Sections"
**Is your feature request related to a problem? Please describe.**
The PR template used to have helpful sections like Purpose, Pre-testing TODOs, and Testing Steps, but they seem to have been lost when the files were shuffled around.

**Describe the solution you'd like**
These sections should be added back, as they are helpful in nearly every PR.

[2020-09-04 19:20] #204 closed

[2020-09-09 15:24] michaelachrisco commented on #63
@ryekerjh Since we are working on the boilerplate project, how do you feel about us referencing the project for new node builds?

[2020-09-09 15:39] michaelachrisco commented on #174
@zbyte64 How do you envision these docker compositions? Do we have one universal docker setup and then leave the developer to build each per project?

We seems to have a couple of docker scripts here:
https://github.com/Shift3/standards-and-practices/blob/766f591e0d9300ed8dde4cbb3af4e0176b22d9e3/best-practices/development-tools/docker/bash-scripts/docker-ecr.sh

[2020-09-09 15:44] michaelachrisco commented on #156
I appears github how supports organization wide labels: https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-default-labels-for-repositories-in-your-organization

[2020-09-09 16:42] michaelachrisco opened #206 "Master/Main branches on GitHub"
**GitHub master branch to main**
[On October 1st](https://github.com/github/renaming#on-october-1-2020-newly-created-repositories-will-default-to-main), GitHub will default any new repositories  `master` branches to `main`.

This change will most likely cause issues with our linked READMEs and CircleCI configurations on this repo as well as any new repo that is created.

**Potential Solutions**
We

[2020-09-10 19:16] michaelachrisco commented on #59
For the docker solution, I started to make some instructions, but then ran across the official docs here:
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-docker-container-deployment?view=sql-server-ver15&pivots=cs1-bash

Ill be honest, they are pretty good and no real issues getting it up and running for both 2017 and 2019 versions.

I am thinking of just adding that link to Github lik

[2020-09-10 19:42] nr431207 opened #208 "Improve information on developing with react"
**React best practices**
The best practices ReadMe for React is missing content

**Solution**
We can gather information from other repos that use React as their framework and from documentation. The potential topics that can be added in this section are :
- Brief introduction to React
- Links to React documentation
- How to spin up a boilerplate
- How to test React components

Feel free to suggest

[2020-09-11 22:53] #208 closed

[2020-09-11 22:53] #94 closed

[2020-09-11 22:53] #192 closed

[2020-09-11 23:08] michaelachrisco opened #210 "awesome_bot cannot report on internal project links"
## Expected Behavior

The CircleCI job is currently failing because internal shift3 resources shuch as Shift3/bw-project-status is private.

## Actual/Current Behavior

I believe awesome_bot should whitelist ALL internal shift3 projects.

## Steps to Reproduce the Problem
1. Navigate to https://app.circleci.com/pipelines/github/Shift3/standards-and-practices/61/workflows/012a24d5-76a3-4a78-8116-c7

[2020-09-14 18:26] coreyshuman opened #212 "Create section to track Workshops"
**Is your feature request related to a problem? Please describe.**
We've had our first workshop, now we need somewhere to document those!

**Describe the solution you'd like**
We should add a landing page for workshops, similar to our presentation page seen here:
https://github.com/Shift3/standards-and-practices/blob/master/presentations/README.md

We should also link it in the main readme (same a

[2020-09-14 20:14] michaelachrisco commented on #156
I have applied the following issue templates to all NEW repositories:
![image](https://user-images.githubusercontent.com/398491/93133292-d5701180-f68b-11ea-8602-6f3fdc225599.png)
![image](https://user-images.githubusercontent.com/398491/93133325-e0c33d00-f68b-11ea-80f1-cd71894af6a8.png)

These include:
@Karvel labels here: https://github.com/Shift3/standards-and-practices/issues/156#issuecomment-6

[2020-09-14 20:15] #156 closed

[2020-09-14 20:15] #210 closed

[2020-09-15 20:36] nr431207 opened #213 "Improve SemVer introduction"
**Is your feature request related to a problem? Please describe.**
I noticed SemVer description section could be more clearly described for those who are just learning about it.

**Describe the solution you'd like**
Adding an example img with some explanation.

[2020-09-15 23:36] #213 closed

[2020-09-21 22:14] michaelachrisco commented on #206
As per conversation with Corey, we should try out a circleci sample project to see how well circleci takes the new default branch and what might be needed to continue with these changes.

[2020-09-21 22:32] michaelachrisco commented on #206
As per [documentation](https://circleci.com/docs/2.0/configuration-reference/#branches), It appears that if a branch is hard set, then it will run via that default branch. I dont see this as an issue on our existing repos, but we should probably document just in case.

[2020-09-21 22:41] mwallert commented on #206
I would have to check on this manually but I believe most repos have a default branch set `dev | develop | development` so like you said we should be okay. @michaelachrisco @coreyshuman This seems like a worthy addition to the news letter and or even a team blast?

[2020-09-22 17:33] michaelachrisco commented on #206
I created a repo that has more detail on the risk above and a solution:
https://github.com/Shift3/MasterToMainRepo/issues/1

This specifically looks at handling CircleCI. If a repo changes (or starts out with) the `master` branch being the default branch, then the deploy script will work as per CircleCIs own documentation. If this branch switches to `main`, the script no longer works and the deplo

[2020-09-22 21:34] michaelachrisco commented on #206
I think the news letter and team blast the week that the changes occur are great ideas.

Something like C/P Githubs official docs on the matter:
[code]

Feedback is welcome on this. We may want more to this to prevent misconceptions.

[2020-09-22 21:50] michaelachrisco commented on #206
Also very similar: I believe if this is the direction Github is taking, then we should also change this repo to have `main` as the default branch instead of `master`. What does everyone think?

[2020-09-22 21:55] mwallert commented on #206
@michaelachrisco Yeah if this is the standard they are seeing it makes sense to follow suit. At first my reaction was:

`No, the base branch is master. Its always been master, why change it.`

After letting it sit I think the change is fine and `main` is just as good as master. I hope I'm not already turning into a grumpy old developer :joy:

[2020-09-22 21:56] kmausolf commented on #206
@michaelachrisco It's a great idea.  I dislike the whole `master/slave` naming dynamic that has existed for too long in the software industry.  Seems like a fairly easy change too!

[2020-09-22 22:02] michaelachrisco commented on #206
:older_man: :older_adult: :older_woman: <- grumpy old developers.

Love that GitHub has these emojis.
@mwallert I felt the same way, but if it makes someones day just a little bit better then its worth doing. Plus we want to be _Standard_ definitely on the Standard and Practices repo.

Alright then, when October rolls around, ill change this to main unless anyone else has any objections.

[2020-09-28 18:49] michaelachrisco commented on #212
If no-one is picking this up, ill take a look.

[2020-09-28 18:50] michaelachrisco commented on #155
Did this ever get resolved?

[2020-09-28 20:04] michaelachrisco commented on #28
@ryekerjh Are we safe to close this one?

[2020-09-28 20:06] michaelachrisco commented on #38
@Endtry and @mwallert This looks related to some of the work the Architecture team is also working on.

[2020-10-01 22:08] #212 closed

[2020-10-01 22:09] michaelachrisco opened #218 "Update Branching verbiage"
Should this maybe read:

_When code is ready to be locked in for demo, a Pull Request from `development` to `staging` will be created and reviewed._

I know you didn't write the whole line but it stuck out to me immediately :joy:

_Originally posted by @mwallert in https://github.com/Shift3/standards-and-practices/pull/215#discussion_r498407929_

[2020-10-01 22:10] #206 closed

[2020-10-02 15:39] michaelachrisco commented on #59
I believe setting up SQL is complete. I believe we can move on to T-SQL and other referenced projects.

[2020-10-02 15:39] #59 closed

[2020-10-02 15:46] michaelachrisco opened #219 "T-SQL Documentation"
**Document T-SQL**
We currently have very little documentation on T-SQL syntax differences and each SQL database. It is currently difficult make an informed decision on SQL databases based on a project scope.

Page in question: https://github.com/Shift3/standards-and-practices/blob/main/best-practices/database/README.md

**Describe the solution you'd like**
We should add some documentation to T-SQ

[2020-10-02 19:21] michaelachrisco opened #220 "NoSQL Documentation"
**Expand NoSql Documentation**
We have some great documentation on MondoDB. We should expand those docs to other NoSQL Databases.

**Describe the solution you'd like**
It would be nice for us to expand our NoSQL documentation to include other commonly used NoSQL Databases. We should attempt to include:
1. How to setup and maintain the database
2. Any syntactical differences (if necessary)

Some di

[2020-10-06 17:06] michaelachrisco commented on #220
Some nice comparisons: https://www.improgrammer.net/most-popular-nosql-database/

At the bottom, there is a really nice table at the end explaining some of the application areas.

[2020-10-07 18:54] michaelachrisco commented on #35
Is this still being worked on?

[2020-10-09 16:13] #218 closed

[2020-10-15 19:17] FlavioShift3 opened #222 "Create a tutorial how to deploy Nativescript apps"
**Is your feature request related to a problem? Please describe.**
No, Just a tutorial to guide step by step to deploy an Nativescript app.

[2020-11-04 17:43] tbutler4 opened #223 "Add Nestjs to server frameworks"
**Describe the solution you'd like**
I'd like to propose Nestjs as a server side framework we use.

**Describe alternatives you've considered**
Nestjs is a progressive Node.js framework for building efficient, reliable and scalable server-side applications. I believe this is an upcoming technology that is a must to learn and incorporate in our software architecture.

**Additional context**
https:/

[2020-11-05 00:31] #223 closed

[2020-11-16 15:51] michaelachrisco commented on #110
@mwallert Just wondering, do we have any apps we can use for examples now that we are using Terraform more frequently?

[2020-11-16 16:08] michaelachrisco commented on #30
@ryekerjh Is this still in the works? I am thinking the boilerplate project may make this task obsolete. What do you think?

[2020-11-16 17:10] ryekerjh commented on #30
I agree, we can close this as the Boilerplate is going to address the heart of it.

[2020-11-16 17:39] #30 closed

[2020-11-17 18:49] mwallert commented on #110
@michaelachrisco The boilerplate and nplh are the two that come to mind.

[2020-11-18 18:13] michaelachrisco commented on #45
Is this still an issue?

[2020-11-30 19:50] kmausolf opened #225 "Proposal: S&P Wiki"
**Is your feature request related to a problem? Please describe.**
There's so much valuable information in the S&P repo now that it's a bit difficult to know what topics are covered by the repo without digging through every file and reading every README.  It's a bit daunting to new users and limits engagement.

**Describe the solution you'd like**
We can present this data in a digestible format us

[2020-12-02 16:22] michaelachrisco opened #226 "React Native/Expo Deploy Procedures"
**Is your feature request related to a problem? Please describe.**
Recently, we had to do a somewhat painful android app deploy on the Assembly project. We currently have some deployment documentation on the react-native/expo stack here: https://github.com/Shift3/standards-and-practices/blob/main/best-practices/native/react-native/deployment/android/README.md

but it needs to be expanded with the

[2020-12-18 19:23] dcedano opened #229 "QA Standards Update"
Post Sprint Procedures and PB Management

[2021-01-06 18:16] #129 closed

[2021-01-07 19:55] caroham29 opened #231 "Helpful Development Plugins"
**Is your feature request related to a problem? Please describe.**
A list of your most helpful web plugins

**Describe the solution you'd like**
A helpful list of safe plugins we've found to be helpful while developing.

Some common web plugins for React Development:

- [React Developer Tools](https://github.com/facebook/react/tree/master/packages/react-devtools-extensions)
- [Redux DevTools Exten

[2021-01-08 16:23] #229 closed

[2021-01-08 21:55] Karvel commented on #231
I have a list I wrote up a while back for my recommended Visual Studio Code Extensions:

# Visual Studio Code

## Recommended Extensions

- [GitLens — Git supercharged - Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens)
Awesome parsing of the project's git information. Allows you to see history and blame within the project, and can show you git history

[2021-01-08 23:37] codysmith287 commented on #231
@Karvel Awesome list! I was just thinking of putting together a list of fairly nonopinionated and helpful extensions for Visual Studio exactly like this one.

What do you think about [Prettier](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode)?

I know Prettier is _pretty_ opinionated, but I like that it saves time and attention on formatting. It is lazy? Ehh... yeah, pro

[2021-01-08 23:38] codysmith287 commented on #231
@Karvel Also is your list already somewhere in the S&P repo?

[2021-01-11 20:16] Karvel commented on #231
I have started setting up prettier in my projects with a pre-commit hook. This enforces its styling project-wide. I don't actually like some of its styling, but I do like not having to think about style preferences anymore, or having to worry about constant style change deltas between individual editor settings. [Here is the PR](https://github.com/Shift3/boilerplate-client-angular/pull/197) where

[2021-01-13 16:19] #231 closed

[2021-01-13 20:39] alejandroxsx opened #233 "Local by Flywheel Workflow Processes"
Certain processes of using flywheel have not been documented.
Most particularly updating your local database to be current with the dev server.

This will ensure plugins, pages, copy, and images are consistent amongst all developers.
This will also ensure that local repos don't get corrupted as this can happen if steps aren't performed in a certain order

I'd like to write out the process of updat

[2021-01-14 20:48] michaelachrisco opened #235 "Main/Master branch Transition"
## Expected Behavior

Only one branch should be the the main branch.

## Actual/Current Behavior

At the moment, some developers are defaulting to the master branch. I didn't catch that in the PR process until now when looking at the git tree. We should only support the main branch and remove the master brach from the repo entirely to reduce confusion.

[2021-01-15 16:08] #235 closed

[2021-01-20 17:32] thomwise commented on #170
I've started reading this ebook, I'm only on the first chapter and it's not exactly light reading material. But I feel like it will be helpful for anyone doing programming related work:
**A Programmer's Guide to Computer Science: A virtual degree for the self-taught developer**
https://www.amazon.com/gp/product/B07W8BMSKG/ref=kinw_myk_ro_title

[2021-01-20 21:53] michaelachrisco opened #237 "Automate review of Pull Request descriptions"
**Is your feature request related to a problem? Please describe.**
At the moment, Pull Requests are reviewed to our standards by humans which take time/effort and involve some leeway in what can be acceptable or not to reject a pull request. This variance confuses developers and reduces overall throughput throughout the organization.

**Describe the solution you'd like**
I would like to create a w

[2021-01-21 16:40] michaelachrisco opened #240 "Broken link in react native deployment"
## Expected Behavior

The link https://play.google.com/apps/publish/  should go to the publish page.

## Actual/Current Behavior
Google app public page is currently 404ing. It redirects to https://play.google.com/console/u/0/signup/?pli=1 or to google sign in.

Looks like google deprecated it.
[code]

[2021-01-22 21:37] #240 closed

[2021-01-26 17:57] KuanaxBon opened #242 "Tips when updating a client server"
There is a process our group uses that I believe would be beneficial to document and share. The process is in regards to updating and uploading to client servers. This would ensure less accidental or unwanted files being uploaded.

I want to write out the process on updating and uploading to client servers.

[2021-01-26 20:33] #237 closed

[2021-01-31 23:32] michaelachrisco commented on #233
As per https://github.com/Shift3/standards-and-practices/pull/234#issuecomment-765696701, manually closing this one. Thanks for the docs @alejandroxsx !

[2021-01-31 23:32] #233 closed

[2021-02-01 17:57] michaelachrisco commented on #95
We had some really good PRs and boilerplate feedback for the last couple of weeks from new hires. Just wanted to acknowledge that.

If anyone has any suggestions, please let us know!

[2021-02-01 22:52] lizl714 opened #244 "Code Reviews process does not mention adding pr-team as reviewers to your pull request"
## Expected Behavior
Under Code Reviews - Process - Author - #2, the standards doc should mention that the author should always include the pr-team as potential reviewers (perhaps replacing all three bullets?)

## Actual/Current Behavior
Currently under Code Reviews - Process - Author - #2 it states the potential reviewers need to have three qualities (listed in bullets)

Per Corey:
Remove the thr

[2021-02-02 17:24] michaelachrisco commented on #226
I believe this has been explored. If anyone has any ideas, we can reopen or create a new issue in reference. Closing for now.

[2021-02-02 17:24] #226 closed

[2021-02-03 17:23] michaelachrisco commented on #244
@lizl714 thanks for the call out on that page. We do need to be a bit more clear on which team should be assigned per project.

We actually have many different teams which include:
* devs-angular
* devs-django
* devs-dotnet
* devs-nativescript
* devs-node
* devs-react
* devs-react-native
* devs-wordpress
* PR Team

I personally think any of these teams are valid when it comes to reviewing the code

[2021-02-04 02:45] Karvel commented on #244
I just tried adding both pr-team and devs-angular on a PR. Between the two, it tagged 5 people (3 from pr-team, 2 from devs-angular).

[2021-02-04 22:45] michaelachrisco commented on #244
I just did some internal testing and found that including two or more teams just increased the number of reviewers. I would rather GitHub allow for people that were in both teams to comment and limit the number of reviewers...

We may need to do some research on the best approach here. If anyone has any suggestions, let us know!

[2021-02-04 23:43] thomwise commented on #244
Should I cancel my PR request on this issue then until we have more clarity then?

[2021-02-04 23:49] michaelachrisco commented on #244
Nope your good! Ill ask in general chat and see what people think.

[2021-02-05 00:17] kmausolf commented on #244
Given that `devs-<technology>` is a subset of `pr-team`, I would suggest just tagging the `devs-<technology>` team if you want someone from that team to review it.  Is there a reason you'd want less reviewers?

[2021-02-05 00:18] coreyshuman commented on #244
My rule of thumb has been that pr-team is the default go-to, but in cases were a PR needs extra scrutiny or has extenuating circumstances, you can instead ping the appropriate team (or the both the dev-team and pr-team).

Examples of extenuating circumstances could be a really complex language-specific feature, work which delves into the depths of said framework, a massive refactor, or if you have

[2021-02-05 00:55] fluturecode commented on #244
I think opening up PR review for the most amount of devs on our team is great, helps everyone see the other current projects, helps make us feel more uniform, familiarize with new stacks, etc...That being said, this assumes that you already have enough people assigned to the PR with proper working knowledge to test that app. Must be the right combination of both so nothing slips through the cracks

[2021-02-05 01:20] ayojackay commented on #244
120% of what @fluturecode said. Personally, I feel there is more growth when exposed to other PR reviews on dev teams/projects you're not on. This exposure can help a dev grow, learn new things, and possibly catch a potential bug slipping by that two pairs of eyes missed. In the past, when I was tagged in a PR, I wholeheartedly admit that I wasn't on time to help approve a PR, so I barely approved

[2021-02-05 05:57] thomwise commented on #244
I like the thought of that idea @ayojackay, being new to the team and having seen and reviewed mostly WordPress code up until this point, if I am asked to give review on code based in React I don't know it, but I would love to see constructive examples of others reviewing that code. I feel like I would learn a lot from that.

[2021-02-05 18:25] ryekerjh commented on #244
I don't love the idea of these blanket assignments, and I like that we have separate teams for each stack. I would say it should be required to add your stack team to your PRs, and then if those are not available or there isn't one for your stack, you should tag the whole team.

[2021-02-05 20:03] coreyshuman commented on #244
@ryekerjh thank you for the honest feedback, I'd love to hear more about why you don't like the automated assignments. Can you go into detail about issues it has caused or challenges you've faced with this system?

I want to list some tangible improvements this system has made to our operations which we should keep in mind. That way if we choose to modify the system, we make sure to not lose these

[2021-02-05 20:18] coreyshuman commented on #244
It's important to add, this is not meant as a be-all, end-all process. This is just the bare minimum standard for project teams to apply. Then the individual teams can apply whatever additional process to their project that they find necessary and agree upon.

So for example, if I was leading a project I could coordinate with my team on a procedure such as this (just an example):
- Follow the stan

[2021-02-05 21:07] kmausolf commented on #244
@coreyshuman It's good to define an ideal situation in the standard for this, but it is indeed a lot.  Very helpful, but not always feasible.  Focusing on what the "bare minimum" means for requesting review is also important so that we don't run into those situations where there's a PR sitting for half a week.

My suggestion for the bare minimum is:

- Always tag `pr-team`
- Tag the other develope

[2021-02-09 16:40] michaelachrisco commented on #219
Now that we have more in the term of "living standards" within the boilerplates, I wonder if its time to revisit this issue and see if it makes sense to make a list rather than just show each project that used each one of the databases in question?

[2021-02-09 22:01] michaelachrisco commented on #244
Ive left this alone for a bit to see what experiences others have had with our pr process. We got some excellent feedback. Thanks everyone! I didnt realize this could be as complicated as it turned out to be.

I agree with @kmausolf that making sure the `pr-team` is at the very least tagged on each project. This seems to have helped with throughput and cross-platform training.
I appreciate @ryeker

[2021-02-09 22:50] coreyshuman commented on #244
@michaelachrisco I like the proposed solution!

I would like to slightly adjust my comment if we plan to include it in the standard:

[2021-02-09 23:18] thomwise commented on #244
Right on everyone! I will add this to the updates in the documentation and send out a PR (requesting the correct people hopefully) haha.

[2021-02-09 23:57] #244 closed

[2021-02-16 16:02] michaelachrisco commented on #219
I didn't get anything from slack, so im going to take over this one at this time.

[2021-02-16 23:06] michaelachrisco commented on #219
I found a resource and would like some opinions on its validity(or nonsense): https://www.altexsoft.com/blog/business/comparing-database-management-systems-mysql-postgresql-mssql-server-mongodb-elasticsearch-and-others/

I like how its set up as a general article. I wish it would get into the details a bit more.

[2021-02-22 19:52] Basim-Elayan opened #246 "Using Azure DevOps with CI/CD"
**Is your feature request related to a problem? Please describe.**
- We were looking into a good way (Ezoz-API project) to deploy .NET CORE app into AWS elastic beanstalk.
- We were looking into a good way (Tulare court server/client projects) to deploy app functions into Azure APP functions.

**Describe the solution you'd like**
I found a good way to run CD/CI using Azure DevOps.

**Describe alte

[2021-02-23 18:42] michaelachrisco opened #248 "Email Branding from shift3tech to bitwiseindustries"
## Expected Behavior

When a user clicks on any mailing list email address, it should point to bitwiseindustries and not shift3tech.

## Actual/Current Behavior
The links are currently pointing to shift3tech.

[2021-02-23 21:17] michaelachrisco opened #251 "Change all references from Shift3 to Bitwise Industries"
https://github.com/Shift3/standards-and-practices/pull/249#pullrequestreview-596739637

## Expected Behavior
At the moment, the repo is riddled with old references that should be fixed when we come across them.

## Actual/Current Behavior

We should remove Shift3 references and change them to Bitwise Industries where we find them.

## Steps to Reproduce the Problem

  1. Find a page with a shift3

[2021-02-23 22:04] #248 closed

[2021-02-23 22:05] #219 closed

[2021-02-24 21:13] michaelachrisco commented on #64
@DropsOfSerenity Does the shop use ruby (and or rails) for any on going projects? Im looking at closing out some old issues.

[2021-02-24 21:15] michaelachrisco commented on #65
@coreyshuman / @Karvel How would you feel about closing this one out in favor of a ".NET server boilerplate" issue, since that will eventually be on the plate?

[2021-02-24 21:17] michaelachrisco commented on #80
@mwallert and/or @Basim-Elayan Do you know if we are still working on this? This looks related to https://github.com/Shift3/standards-and-practices/issues/246

[2021-02-24 21:18] michaelachrisco commented on #95
Im thinking we should revisit this with one of the new hires. Ill throw it on technical discussions later this week and attempt to get feedback!

[2021-02-24 21:21] michaelachrisco commented on #225
@kmausolf  I know we started in on creating some wiki pages, but with all the changes lately I never followed up. Are you still looking at working on this? I would love to discuss the idea and take from other wikis that seem to be used in our other repos :)

[2021-02-24 21:22] mwallert commented on #80
@michaelachrisco Another one on my todo list unfortunately. I am not currently working on this but I would like to get the documentation up for non-terraform deployments

[2021-02-24 21:23] michaelachrisco commented on #35
@coreyshuman and/or @jecallaway What information should we add to bring security into the S&P repo. I would love your input on the matter!

[2021-02-24 21:24] michaelachrisco commented on #80
Sounds good, no rush, just looking at following up with all these old issues. Appreciate the response!

In that case, Im thinking this may be a sow burn as we document other projects like you stated.

[2021-02-24 21:26] kmausolf commented on #225
@michaelachrisco Now that I've put more thought into it, the Wiki might not be good for a rapidly evolving repo like this one.  Since there does not appear to be any sort of automation for the Wiki, it would need to be maintained parallel to the standards repo, allowing for it to quickly fall out of date and become secondary to the actual standards documents.

[2021-02-24 22:03] FlavioShift3 commented on #65
I agree.

[2021-03-01 22:52] michaelachrisco commented on #165
Found a couple of misspellings. Reopening!

[2021-03-02 17:34] #165 closed

[2021-03-02 21:11] michaelachrisco opened #254 "Increase accuracy of meeting descriptions"
**Is your feature request related to a problem? Please describe.**
When a developer is first introduced to Bitwise, they are required to read the S&P pages. There has been some questions regarding the standards and practice meetings and I think these should be clarified.

**Describe the solution you'd like**
https://github.com/Shift3/standards-and-practices#bitwise-standards--practices-meetings sh

[2021-03-03 16:38] #28 closed

[2021-03-03 16:40] michaelachrisco commented on #57
Im going ahead and closing since we now have an angular boilerplate that is being used.

[2021-03-03 16:40] #57 closed

[2021-03-03 22:50] #254 closed

[2021-03-15 20:04] michaelachrisco commented on #35
I went ahead and had a discussion with @jecallaway today. Some of the highlights:
1. We need more docs on the client/server side of the S&P.
2. @jecallaway pointed me at a really excellent website: https://owasp.org/www-project-top-ten/# that contains some of the above topics.
3. Developers should be aware of Shift3 Cybersecurity <cybersecurity@bitwiseindustries.com> maillist and be able to reques

[2021-03-24 23:48] #246 closed

[2021-03-25 17:53] #62 closed

[2021-03-29 16:20] michaelachrisco commented on #242
Sounds good @KuanaxBon! Are you still working on this feature?

[2021-04-07 16:41] michaelachrisco opened #258 "Imrpove Docs around .github folder and its function"
**Is your feature request related to a problem? Please describe.**
We currently have very little docs in the way of describing the `.github` folder and its function within our repos.

**Describe the solution you'd like**
We should expand the docs to include this folder and its purpose. We should also look into adding the Epic template we are using in the boilerplate projects to this repo, so any n

[2021-04-08 01:01] coreyshuman commented on #39
@michaelachrisco 3 years later and this is still a recurring issue in projects. Now that we have boilerplates to implement a standard, I think this is a good time to resurface this.

Now that we're supporting locale translation in the boilerplates, I think the UTF-8 argument has some more strength behind it.

I suspect for client-side validation we will still be served best by simple and permissiv

[2021-04-08 01:06] coreyshuman commented on #39
Adding that I agree with Justin Schiff's assessment here:

[2021-04-08 01:12] coreyshuman commented on #39
I noticed we do have an example documented in best practices here:
https://github.com/Shift3/standards-and-practices/tree/main/best-practices/development-tools/validation#code-example

For this to be a completed standard, we should include a definition for our goal on what should and shouldn't pass this validation. It should also include a set of unit tests to verify that goal.

[2021-04-08 20:02] Karvel commented on #39
The current RegEx in the Angular boilerplate is the following:

[code]

For the test sets you provided above, all of the ones that should match do, and the commented out ones below that should fail pass.

[code]

I do have unit tests for the validator using the regular expression, but I can add the test sets as follows:

[code]

We can decide if we want to keep the current RegEx, change it, and ad

[2021-04-08 20:42] Karvel commented on #258
The `.github` folder is also where GitHub Actions and the [CODEOWNERS](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners) files would live, if a project has them.

You can see an example of a repo that has all of these [here](https://github.com/Shift3/tulare-court-client/tree/development/.github).

[2021-04-08 23:25] michaelachrisco commented on #39
I agree with making validation simple and permissive as you stated. If we get too strict with the REGEX/standard, we may get quite a few false positives (I remember a few horror projects I worked on in the EDI world). Emojis are now valid email addresses. Its a strange world we live in.

I also like the example @Karvel shows by adding real email addresses to the unit tests for each of the valid/in

[2021-04-09 05:55] stephengtuggy commented on #39
FWIW, I also agree with making validation simple and permissive. And with requiring confirmation emails. I think something like @Karvel 's regex or the MDN one @michaelachrisco mentioned would probably work well.

[2021-04-09 15:40] michaelachrisco commented on #35
@jecallaway Do you know if we have any SOWs/recommended tutorials on Kali Linux and the assorted tools?

[2021-04-09 15:42] michaelachrisco commented on #45
Closing this out as we added some docs a while back.

[2021-04-09 15:42] #45 closed

[2021-04-09 15:45] michaelachrisco commented on #63
I am tempted to add a link to our node boilerplate instead of full blown docs for anonymous node server builds. There are quite a few good practices we added to the boilerplate that already come with a huge amount of docs.

[2021-04-09 15:47] michaelachrisco commented on #60
@TomAlperin and @Endtry Do you happen to know what @ryekerjh was referencing here?

[2021-04-09 15:48] michaelachrisco commented on #155
@dcedano Any updates on this task? If we have some other docs we should be using, perhaps we can add those to the S&P repo?

[2021-04-09 15:51] michaelachrisco commented on #154
With @coreyshuman most recent talk, I believe we should add in those details into the S&P repo. @kmausolf and/or @Karvel I would love to discuss and get this in writing so the rest of the shop can start having more standard Github boards.

[2021-04-09 15:52] michaelachrisco commented on #58
@mwallert Do we happen to have a SOW on Atlas somewhere?

[2021-04-09 15:53] michaelachrisco commented on #88
@Basim-Elayan Any luck with this one?

[2021-04-09 15:54] michaelachrisco commented on #174
If anyone wants to tackle this one, feel free to assign yourself. We have some examples in the boilerplates if you would like to take a look.

[2021-04-09 15:55] michaelachrisco commented on #258
Excellent point. Most of our new repos have a CODEOWNERS file, but we need to make sure that is also part of the docs.

[2021-04-09 15:58] michaelachrisco commented on #242
@KuanaxBon Any updates on this? What is the current process that your team uses to update a client server?

[2021-04-09 16:15] ryekerjh commented on #60
There was a sql ORM that we developed in house that needed docs. U can probably just remove this issue since y'all dont  really use that anymore

[2021-04-09 16:43] #60 closed

[2021-04-09 17:06] mwallert commented on #58
@michaelachrisco Not that I am aware of. I keep getting side-barred this week but I hope to be adding one soon.

[2021-04-13 23:43] michaelachrisco opened #259 "EPIC template"
**Is your feature request related to a problem? Please describe.**
Currently there is limited direction on how to use and create EPICs within our repos.

**Describe the solution you'd like**
The node boilerplate and react boilerplate both have an EPIC template. We should bring these over to this repo.

**Describe alternatives you've considered**
We may want to discuss the actual contents of the EP

[2021-04-21 21:05] michaelachrisco opened #261 "React VSCode tooling"
**Is your feature request related to a problem? Please describe.**
React can be a bit difficult to debug using traditional `console.log`(s) and we dont currently have a reference to common debug tooling within the S&P repo.

**Describe the solution you'd like**
We should have react based debug tooling present within the repo.
https://code.visualstudio.com/docs/nodejs/reactjs-tutorial helped set up

[2021-04-21 21:13] michaelachrisco commented on #261
Im thinking the reference should go somewhere around here: https://github.com/Shift3/standards-and-practices/tree/main/best-practices/client-side/framework/react

[2021-04-21 22:14] #259 closed

[2021-04-27 16:25] michaelachrisco commented on #222
@FlavioShift3 Sounds great, I would love to see some docs on the subject.

[2021-04-27 16:26] michaelachrisco commented on #225
Im going to close this one, as per discussion above.

[2021-04-27 16:26] #225 closed

[2021-05-06 17:17] B12Howard opened #264 "Broken Link"
## Expected Behavior

When you click on the Link it should re-direct to [https://github.com/Shift3/standards-and-practices/blob/main/standards/qa-process.md](https://github.com/Shift3/standards-and-practices/blob/main/standards/qa-process.md)

## Actual/Current Behavior

When you click the Link it re-directs to [https://github.com/Shift3/standards-and-practices/blob/main/processes/qa-process.md](h

[2021-05-06 17:30] JGustavo11 commented on #264
When you click the Link it re direct to (the error)
https://github.com/Shift3/standards-and-practices/blob/main/processes/qa-process.md

When it should be re directed to
https://github.com/Shift3/standards-and-practices/blob/main/standards/qa-process.md

[2021-05-06 17:42] B12Howard commented on #264
Changed wording to be more inline with your suggestions

[2021-05-06 17:54] michaelachrisco commented on #264
Thanks @B12Howard and @JGustavo11 for bringing this up! I can confirm this is totally an issue. We should also see if the broken link is being used within the app elsewhere. Unfortunately, we whitelisted internal links when we check links with `awesome_bot`.

I would be super appreciative if one of you would create the fix.

[2021-05-06 17:56] michaelachrisco commented on #261
If anyone wants to jump in on this, I would be super grateful!

[2021-05-06 18:05] B12Howard commented on #264
@michaelachrisco I submitted a fix. How would you see if the broken link is used in other places? For me, this was practice doing a pull request using Bitwise's standards, per the automated email

[2021-05-06 23:13] #264 closed

[2021-05-06 23:58] michaelachrisco opened #267 "awesome_bot Internal link 404s"
## Expected Behavior

awesome_bot is currently not verifying internal links.

## Actual/Current Behavior

awesome_bot should verify internal links.

References @265

[2021-05-10 23:03] #267 closed

[2021-05-11 18:42] dcedano opened #269 "QA Standards Update 2"
## Expected Behavior
_Report of Issues should be removed because it is no longer relevant. Entire team needs access to links and resources in order to meet these specific standards. Lighthouse score needs to be provided to track a projects progress with Google standards._

## Actual/Current Behavior
_The Report of Issues was still being requested and so that needed to be removed as soon as possibl

[2021-05-11 20:58] michaelachrisco opened #271 "Add to awesome_bot allowlist"
Disregard the CircleCI issue here. We just need to add https://github.com/Shift3/standards-and-practices/blob/main/.circleci/config.yml#L10 to the allowlist in a separate PR.

_Originally posted by @michaelachrisco in https://github.com/Shift3/standards-and-practices/pull/270#discussion_r630530839_

[2021-05-11 21:50] #269 closed

[2021-05-19 14:58] #271 closed

[2021-05-21 22:51] michaelachrisco opened #273 "Need Help? section in README"
**Is your feature request related to a problem? Please describe.**
Based on a team meeting discussion. We should encourage developers to get feedback and help from blockers sooner rather than later.

**Describe the solution you'd like**
The Main README should have a section on help and direct developer to our technical feedback slack channel as well as another list of training slacks for specific

[2021-06-07 16:42] HansHKam commented on #159
Do we need standards such as a variable naming convention or more like code structuring?
I recently watched an episode of Silicon Valley about spaces vs tabs, it convinced me that spaces are inferior to tabs.

[2021-06-08 16:24] michaelachrisco commented on #159
Great question. Im thinking that variable naming convention might be good to discuss and figure out. What does Microsoft themselves recommend?

Its a good show. A little too real sometimes haha.
I also prefer spaces, but as far as a specific standard, im thinking as long as the project is consistent, its good. Since a majority of our .Net projects are pulled in from existing outside client work, i

[2021-06-08 20:36] michaelachrisco opened #275 "Spelling/Grammar is important"
"It's better" :slightly_smiling_face:

_Originally posted by @Karvel in https://github.com/Shift3/standards-and-practices/pull/274#discussion_r647773126_

[2021-06-08 21:12] #275 closed

[2021-06-09 18:24] amerikan opened #276 "Git Commit Messages best practices (Conventional Commits)"
In https://github.com/Shift3/standards-and-practices/blob/main/standards/commits.md, it might be a good idea to also mention the actual specification for new comers: https://www.conventionalcommits.org/en/v1.0.0/

And possibly also mention how to make BREAKING CHANGES in a commit  more prominent.

The spec mentions to add it in the body of the commit message.

I've seen other places add a hashbang

[2021-06-09 22:24] #273 closed

[2021-06-11 18:14] amerikan commented on #276
I should also add this process can be enforce via a linter. Over at TatStat we are using this package: https://github.com/conventional-changelog/commitlint#getting-started

With commitlint together with husky (for githooks) you can intercept each commit and lint it. If it passes it'll reject with reason. This will ensure your entire team's commits are consistent and follow the convention. 😄

[2021-06-14 19:23] Karvel commented on #276
The commit message style is based on Karma commits, and the spec is linked at the top of the file.

[2021-06-14 19:49] amerikan commented on #276
@Karvel yes, but that's just a _specific_ instance of the **Conventional Commits** specification. My hope is that by including a link to the actual generalized specification it helps new comers understand that it is just one of many flavors of Conventional Commits. This way they can see the bigger picture.

[2021-06-17 20:07] amerikan commented on #276
@michaelachrisco I don't have write access to this repo, but here are my changes if interested:

[code]

[2021-06-28 17:24] michaelachrisco opened #278 "React native iOS deploy instructions include Andoid build/deploy steps"
## Expected Behavior

React native docs should separate out the Android and iOS pages.

## Actual/Current Behavior

At the moment, the [iOS documentation](https://github.com/Shift3/standards-and-practices/blob/main/best-practices/native/react-native/deployment/ios/README.md) contains Android build steps that look identical to the [Android page](https://github.com/Shift3/standards-and-practices/blo

[2021-06-28 21:08] michaelachrisco commented on #276
Thanks for all the docs!

I believe its because you are part of ventures and not part of the BW PR-Team (PR-Team has write permissions). for now, if you don't mind, I think forking would be the way to go.

[2021-06-29 15:26] michaelachrisco commented on #63
Closing this one out, our node boilerplate is now where we look for a spin up guide.

[2021-06-29 15:26] #63 closed

[2021-06-29 15:30] michaelachrisco commented on #110
@mwallert How do you feel about us adding some of the modules from the devops side into the S&P repo?

[2021-06-29 15:30] michaelachrisco commented on #110
@mwallert How do you feel about us adding a couple of the devops terraform modules into this repo? That way, the entire org will have those scripts available for them.

[2021-06-29 15:32] michaelachrisco commented on #95
I think this needs to get revisited. Anyone from @Shift3/pr-team want to chime in?

[2021-06-29 15:37] michaelachrisco commented on #81
As per email discussion, we need to properly document the process for development/deployment on Apple. We have some docs, but its spotty and not complete. Added @gabymoreno9 and @JamesVal to this task.

[2021-06-29 15:38] #64 closed

[2021-06-29 16:41] thomwise commented on #95
Sounds like a good idea @michaelachrisco, did you want me to look into this with you at some point?

[2021-06-30 06:40] Endtry commented on #261
Hey Michael, this is on my radar. I’ll see if I can get you the assistance
you needed.

Thanks,

On Tue, Jun 29, 2021 at 8:22 AM Michael Chrisco ***@***.***>
wrote:

[2021-06-30 15:46] michaelachrisco commented on #278
Related to #88

[2021-06-30 15:53] michaelachrisco commented on #95
That would be awesome @thomascking.

For now, I think we may need to review https://github.com/Shift3/standards-and-practices#new-to-bitwise and fill in/update the documentation.

[2021-06-30 16:18] michaelachrisco commented on #162
While awesome bot is providing us with some really god feedback, I think we may need to revisit how useful this is failing CircleCI builds and creating a barrier to entry on new documentation.

What I would like this tool to do is only check and inform, not fail the entire PR if one of the hundreds of links it checks fails.

A couple of solutions:
1. Take a look at CircleCI cron and have awesome_b

[2021-06-30 18:08] thomwise commented on #95
Okay. I'll take a look later on this afternoon. I'm not thomascking though. I feel like we get mixed up a lot.

[2021-06-30 18:33] michaelachrisco commented on #95
Doh! I let GH autocorrect me. Super sorry about that! Ill fix.

[2021-06-30 20:17] kmausolf commented on #261
Have we tried React Devtools?  Seems like the best option available for debugging component state, props, etc.

Chrome Extension:
https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en

Guide to using RDT:
https://www.digitalocean.com/community/tutorials/how-to-debug-react-components-using-react-developer-tools

[2021-06-30 20:19] michaelachrisco commented on #261
I think so, if its the same as here: https://github.com/Shift3/standards-and-practices/tree/main/best-practices/client-side/framework/react#helpful-react-development-web-plugins

We don't have any docs on how to _use_ them though. The guide that you referenced would be an excellent addition in my opinion!

[2021-07-06 16:52] mwallert commented on #110
@michaelachrisco Yeah absolutely, though that repo made need some permission changes to allow devs to actually see them.

[2021-07-10 19:08] #261 closed

[2021-07-26 19:58] michaelachrisco commented on #155
@dcedano / @Endtry Should we assign this task to someone with more time?

[2021-07-29 18:03] jcabrera-dev opened #283 "Fix typos in main README.MD"
## There are typos in README.MD and user is redirected to a 404 page.

1. When the user clicks on a name in the Readme.md doc. They should be allowed to open up in their email and not on a 404 error page.

## Actual/Current Behavior

- User clicks on a name and it takes them to a 404 error page and it should open their default mail to email the person.

## Learning

What I am learning through doin

[2021-07-29 21:59] alexisr93 opened #285 "Update or remove link to the example project board in project-setup.md"
## Expected Behavior

Clicking on the link to the example project board should open an existing project board, or the link should be removed.

## Actual/Current Behavior

Link to example project board redirects to a 404.

[2021-08-23 15:13] michaelachrisco commented on #285
As per discussion on the PR, when a developer is not part of the `PR-Team`, they do not have access to our private repos. Closing this issue.

[2021-08-23 15:13] #285 closed

[2021-08-26 19:05] cmcoatney opened #287 "More Lesser Known Git Commands"
### Newish GIT Commands
Commands added to Git as an alternative to the overloaded checkout command are fairly new and not well known, but worth learning.

- switch
- restore

[2021-08-30 15:15] #283 closed

[2021-09-01 16:39] #276 closed

[2021-09-01 16:40] #287 closed

[2021-09-01 21:53] kmausolf opened #289 "Update Epic Template"
**Is your feature request related to a problem? Please describe.**
The Epic template currently suggests formatting the related issue list like so:

- [ ] Issue #287
- [ ] Issue #27

**Describe the solution you'd like**
GitHub now has a new integration for issue linking.  If you link the issue after a checkbox, it'll enrich the link for you, like so:

- [ ] #287
- [ ] #27

My suggestion is to remov

[2021-09-09 21:49] #289 closed

[2021-09-13 20:38] #278 closed

[2021-09-22 17:20] michaelachrisco commented on #258
As per conversation via slack, Marco wants to take a look at this one.

[2021-09-28 17:54] amerikan commented on #56
`git pull`  = `git fetch` && `git merge`
`git pull --rebase` = `git fetch` && `git rebase`

Squashing: `git merge --squash`. IMO useful when the feature branch is clutter with redundant commits.

When using **rebase** you gotta be careful since you're literally re-writing history.

With Github PR's web UI you can do most of them:

<img width="364" alt="Screen Shot 2021-09-28 at 10 52 11 AM" src="h

[2021-10-01 19:22] #258 closed

[2021-10-05 15:04] michaelachrisco commented on #131
Revisiting this in slack. Looking for feedback from those of you that use Python/Django.

[2021-10-05 15:34] michaelachrisco commented on #131
As per feedback from above, renamed the issue to Recommendations for Python Development. Look forward to getting more feedback from everyone!

[2021-10-05 17:27] michaelachrisco commented on #95
I would say this is complete! We should revisit periodically and create a new issue. For now, this one is about 2 years old. Closing

[2021-10-05 17:27] #95 closed

[2021-10-05 21:16] michaelachrisco commented on #251
Found one right in the parent README. Ill make a quick PR and fix it up.

[2021-10-06 20:54] #251 closed

[2021-10-07 16:14] michaelachrisco opened #297 "Clarify QA Acceptance test closing out"
**Is your feature request related to a problem? Please describe.**
When a QA sprint is complete, QA acceptance test issues are updated and feedback is given to the team lead/designated developer on the project. These issues are not updated, sometimes for months (or even years).

**Describe the solution you'd like**
I would like to develop a policy on:
1. Who should followup on the issues.
2. Who s

[2021-10-07 18:16] jcabrera-dev opened #298 "Change slack channel reference from shift3 to Bitwise Industries"
## Expected Behavior

In the main README.md file it should say join bitwiseindustries.slack.com instead of shift3tech.slack.com.

## Actual/Current Behavior

In the main README.md file it says to join shift3tech.slack.com and that channel is no longer in use anymore.

[2021-10-07 22:27] amerikan commented on #91
Current I have:
[code]

[2021-10-12 17:25] michaelachrisco opened #302 "React Native Training"
**Is your feature request related to a problem? Please describe.**
We currently have very little in the form of classes and/or documentation on React Native even though we are using it in quite a few projects. I would be nice to reuse what we know works.

**Describe the solution you'd like**
I would like us to add more recommended classes, resources, and references to our React documentation.

Als

[2021-10-12 18:36] apethoud opened #303 "Broken link in React Native best practices"
## Expected Behavior

The link to the button component should take you to the button JS file.

## Actual/Current Behavior

The page is not found.

## Steps to Reproduce the Problem

  1. In standards-and-practices/best-practices/native/react-native/common-components/README.md, click the "Button" link.

[2021-10-20 20:20] michaelachrisco opened #306 "Accountability Checklist"
**Is your feature request related to a problem? Please describe.**
We currently have documentation within a google doc on developer accountabilities: https://docs.google.com/document/d/1jPgAx2djsl8x-cCxKbyfRN1QTLJNrAY4zcsOJYjZZFY/edit?usp=sharing

**Describe the solution you'd like**
We should pull this into our repo as markdown and create a checklist for everyone to take a look at. Might also be

[2021-10-21 19:59] dmpayton opened #307 "Add docs for EditorConfig"
I'm a big fan of consistent code styling, and an even bigger fan of automating that process as much as possible.

[EditorConfig](https://editorconfig.org/) helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs. Many editors and IDEs support it natively, and many others support it via plugins.

Here's the `.editorconfig` file we

[2021-10-22 20:02] amerikan opened #309 "Improve github issue creation"
**Is your feature request related to a problem? Please describe.**

Make it easier to open issues (less typing).

**Describe the solution you'd like**

Take advantage of issue_templates and github issue forms (currently only for Public Repos).

[2021-10-26 04:49] #307 closed, assigned to dmpayton

[2021-10-26 04:50] #309 closed, assigned to amerikan

[2021-10-26 04:53] amerikan opened #312 "[bug]:"
## Expected Behavior

_Report what **should** be happening._

## Actual/Current Behavior

_Describe what is currently happening._

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Pre-Testing TODOs

_What needs to be done before testing._

  1. Change DB values in x collection to y.

## Testing Steps

### If you are not a member of this project, _skip this step_

_How do the users test this c

[2021-10-26 04:54] #312 closed, assigned to nobody

[2021-10-26 04:54] michaelachrisco opened #313 "[bug]: Feature Request feature contains errors"
## Expected Behavior
Feature requests should not contain any errors.

## Actual/Current Behavior
https://github.com/Shift3/standards-and-practices/blob/main/.github/ISSUE_TEMPLATE/feature_request.yml
![image](https://user-images.githubusercontent.com/398491/138811041-6aa24538-bd69-438e-a348-6764a3a71058.png)

[2021-10-26 17:23] #313 closed, assigned to amerikan

[2021-10-27 22:54] michaelachrisco opened #315 "[Feat]: Branch protection recommendations"
### Is your feature request related to a problem? Please describe.

At the moment, we leave branch protection to team leads. While this has worked for us in the past, we are now getting questions on the PR-Team not being able to merge when the incorrect selection of Github rights are added to a repo.

### Describe the solution you'd like.

We should provide recommendations on how Team leads set up

[2021-10-30 03:25] #315 closed

[2021-11-04 16:29] michaelachrisco opened #317 "[Feat]: Show how to setup Dependabot"
### Is your feature request related to a problem? Please describe.

We want to be able to check for vulnerabilities within dependencies without breaking ongoing pull requests. `npm audit` was our first thought but has a number of downsides:
1. Failed on ongoing Pull Requests
2. Recommends `npm audit --fix` which will update all dependencies that have a vulnerabilities but will also cause breakages

[2021-11-15 17:58] michaelachrisco opened #318 "[Feat]: Email standard around bouncing and invalid emails"
### Is your feature request related to a problem? Please describe.

At the moment, we are getting bounced emails from SES regarding invalid email addresses from multiple node boilerplate projects.

### Describe the solution you'd like.

We should provide a warning to developers to use valid emails when testing out SES emails. We should also take a look to see if we can remove emails from being sen

[2021-11-15 23:34] michaelachrisco opened #319 "[Feat]: Specify How to deal with git merge/history errors"
### Is your feature request related to a problem? Please describe.

From @mwallert
[code]

### Describe the solution you'd like.

The below is what I think should be the standard around the shop:

1. Developers should try to resolve conflicts without `rebase` if possible (unless they are really confident in their skills).
2. Team leads should be the only ones that can temporarily remove branch pro

[2021-11-15 23:35] michaelachrisco commented on #319
Related to: https://github.com/Shift3/standards-and-practices/issues/56

[2021-11-15 23:35] michaelachrisco commented on #319
Related as well: https://stackoverflow.com/questions/10761348/git-merging-hotfix-to-multiple-branches

[2021-11-18 07:01] soniaroh opened #321 "[Feat]: Update Developer Connect Host list"
### Is your feature request related to a problem? Please describe.

Some individuals are no longer on the presentations host list for Developer Connect Meetings.

### Describe the solution you'd like.

The name of those who are not hosts anymore should be removed from the ReadMe to prevent an email going to the wrong individual.

[2021-11-18 17:36] #318 closed

[2021-11-18 17:36] #321 closed

[2021-11-29 17:26] AramayisO opened #324 "[Feat]: Add link to React Hooks Testing Library"
### Is your feature request related to a problem? Please describe.

Unit testing hooks is not easy as hooks can only be invoked inside function components or other hooks. As a result, you have to write a component solely for testing a custom hook and have to work out how to trigger all the various ways in which the hook can be updated.

### Describe the solution you'd like.

A link to the React Ho

[2021-11-30 00:00] #324 closed

[2021-11-30 00:01] #302 closed

[2021-11-30 00:13] michaelachrisco opened #326 "[Feat]: Add React Boilerplate to the React page"
### Is your feature request related to a problem? Please describe.

At the moment, we have a placeholder for spinning up a boilerplate within our React documentation.

### Describe the solution you'd like.

We should link our react boilerplate to this repo.

### Describe alternatives you've considered

_No response_

### Additional context

https://github.com/Shift3/standards-and-practices/blob/3d

[2022-01-10 17:19] #326 closed

[2022-01-11 00:22] T145 commented on #317
Simply navigate to the "Security" tab in a repository and enable desired features.
You can also create a `.github/dependabot.yml` configuration file and give it these contents:
[code]

[2022-01-11 00:47] T145 opened #328 "[Feat]: Use Scoop over Chocolatey"
### Is your feature request related to a problem? Please describe.

https://github.com/ScoopInstaller/Scoop/wiki/Chocolatey-Comparison

### Describe the solution you'd like.

https://github.com/ScoopInstaller/Scoop/wiki/Chocolatey-Comparison

### Describe alternatives you've considered

https://github.com/ScoopInstaller/Scoop/wiki/Chocolatey-Comparison

### Additional context

https://github.com/S

[2022-01-21 19:21] dcedano opened #329 "QA Standards Update 3"
QA is now requesting the scope of work and a list of known issues before the kickoff meeting. We are also emphasizing the importance of an acceptance test and clarifying that the developers will create the project boards and milestones with the definition of done. QA will assist and guide the developers through those if needed during the kickoff meeting.

[2022-01-24 18:09] #329 closed

[2022-02-18 17:28] michaelachrisco opened #331 "[Feat]: Add Handbook links to S&P"
### Is your feature request related to a problem? Please describe.

We have a WIP handbook that will encompass the bitwise experience and become the central repository of knowledge for the company.

### Describe the solution you'd like.

We should include a link in the main README going back to the handbook.

### Describe alternatives you've considered

_No response_

### Additional context

_No r

[2022-02-23 17:10] michaelachrisco opened #332 "[Feat]: Stack overflow for teams"
### Is your feature request related to a problem? Please describe.

We now have a new resource to asking questions at BWTC: https://stackoverflow.com/c/bwtc/questions

### Describe the solution you'd like.

We should point our developers to this resource in our homepage. Preferably within the "Need Help" Section: https://github.com/Shift3/standards-and-practices#need-help

### Describe alternative

[2022-02-23 17:54] michaelachrisco opened #334 "[bug]: Ultragrow no longer sandboxed"
## Expected Behavior

We should have links that work.

## Actual/Current Behavior
The ultragrow sandbox link is causing the CI build to break because it 404s. https://app.circleci.com/pipelines/github/Shift3/standards-and-practices/256/workflows/a43fbe4e-8564-4133-ab07-4ec80add1fb3/jobs/282

https://github.com/Shift3/standards-and-practices/blob/main/best-practices/server-side/framework/python/dja

[2022-02-24 00:26] #334 closed

[2022-02-26 00:40] #332 closed

[2022-03-01 16:59] #331 closed

[2022-03-14 20:46] michaelachrisco opened #337 "[bug]: Handbook should be Guidebook"
## Expected Behavior

The S&P repo does not match the verbiage of the current notion docs.

## Actual/Current Behavior

To reduce confusion between the BW Handbook (seen here: https://www.notion.so/bwtc-handbook/2022-BW-Employee-Handbook-831d80ecf6a840809b3e174178c00942) and the BWTC Guidebook, we changed the name of BWTC Handbook to Guidebook. URL should be identical ATM.

[2022-03-16 17:39] #337 closed

[2022-04-11 20:09] michaelachrisco opened #339 "[Feat]: Devops - Cross Reference"
### Is your feature request related to a problem? Please describe.

Currently, our devops structure and documentation is scattered.

### Describe the solution you'd like.

We should have a central repository of information for our devops references that are related to our developer experience. We started a cross reference list here: https://docs.google.com/document/d/1ogVmLmemhszBxBdktnffeCAPy_AD5

[2022-04-19 16:46] dcedano opened #340 "QA Sprint #1 Acceptance Test"
## Timeframe
Kickoff: 9/18/2020
Start Testing: 9/21/2020
End Testing: 9/25/2020

Browser and Device Requirements:
Windows device
Windows Touch Screen device
Definition of done
Acceptance test has been completed and exploratory testing has been initiated to full extent

[2022-04-19 16:46] #340 closed

[2022-05-05 23:18] goseinthemachine opened #342 "[Feat]: Terraform and CircleCI to setup QA environments for each feature branch"
### Is your feature request related to a problem? Please describe.

The move to having QA being a part of the pod and being involved in each sprint requires more infrastructure. Had to setup a specific QA environment and figure out a process for having QA test on an automated deploy. Unfortunately the process I came up with right now currently requires a PR to be merged into the development branch

[2022-05-11 18:02] B-cavazos opened #343 "[bug]: Typos in developer-accountability.md"
## Expected Behavior

.md should be free of typos and markdown errors

## Actual/Current Behavior

a typo has been found in the document and some left angled brackets are not rendering correctly

## Steps to Reproduce the Problem

  1. Review checkboxes no. 6 and no. 9  [here](https://github.com/Shift3/standards-and-practices/blob/main/standards/developer-accountability.md)

## Pre-Testing TODOs

[2022-05-11 22:39] jeffreyriosjr opened #344 "[bug]: Content Structure Needed for: /standards/bug-reporting.md"
## Expected Behavior

1. A precise and structured template for "Bug-Reporting", should display using consistent and proper descriptive details for new users, to help with a better understanding.

## Actual/Current Behavior

1. Content size and placement displays a bit off, and unaligned.

## Steps to Reproduce the Problem

  1. Re-read entire file, locate any possible conflictions.
  2. Make chang

[2022-05-11 23:41] hstamps-stack opened #347 "[Suggestion] Problem solving for developers"
Before seeking help else where, developers should learn the much needed skill of problem solving. I would like to suggest adding  a article to the, "_Need Help_", section of the standards and practice repo that breaks down how to problem solve in a general way.

[2022-05-11 23:49] meru20 opened #348 "[bug]: Titles should start with an uppercase"
## Expected Behavior

All headers should start with capital letter in order to maintain consistency through out the repo

## Actual/Current Behavior
Some headers in the README.md file have started with uppercase while some haven't.

[2022-05-12 00:59] ludgranados opened #351 "[bug]: Spacing & Punctuation"
## Expected Behavior

code-versioning.md should have uniform spacing and punctuation.

## Actual/Current Behavior

Spacing that does not match all sections has been found in the document, along with punctuation that does not match throughout the document.

## Steps to Reproduce the Problem

  1. Review the full stop of the sentences on the document.

## Pre-Testing TODOs

N/A

## Testing Steps

_H

[2022-05-12 16:43] michaelachrisco opened #353 "[bug]: react links are 404-ing"
## Expected Behavior

We created the CI to notify us if links stop working. It should pass for every PR.

## Actual/Current Behavior

CI is currently not passing. https://www.better.dev/react-prerequisites 404s now.
https://app.circleci.com/pipelines/github/Shift3/standards-and-practices/275/workflows/c1039fa9-3dcd-44a2-a4ba-4150c1bc3f74/jobs/302?invite=true#step-104-665

We should remove these li

[2022-05-12 22:15] #343 closed

[2022-05-13 15:22] #348 closed

[2022-05-13 15:22] #344 closed

[2022-05-17 21:08] #347 closed

[2022-05-18 17:05] hstamps-stack opened #354 "[Refactor] move the problem solving subsection into different github page."
It was suggested to place the problem solving subsection into another github page that includes problem solving article from freecodecamp.

[2022-06-09 21:38] #354 closed

[2022-06-15 23:55] michaelachrisco opened #357 "[bug]: Nativescript + Angular urls no longer exist"
## Expected Behavior

best-practices/native/nativescript/README.md should have working links.

## Actual/Current Behavior

Awesomebot has identified some nativescript tutorials that no longer work for angular:
[code]
Broken build is here: https://app.circleci.com/pipelines/github/Shift3/standards-and-practices/294/workflows/716eb514-4b9e-48f1-b1dd-36aff48ae475/jobs/324

We should fix these links w

[2022-07-27 22:46] markrogers9109 opened #358 "[bug]: Fix the View On GitHub button location on the gh-pages site"
## Expected Behavior

The button should be in a location that makes sense for the user and doesn't cover any content.

## Actual/Current Behavior

The button is in a fixed position and covers the content initially and as you scroll.

## Steps to Reproduce the Problem

  1. Go to the [gh-pages site](https://shift3.github.io/standards-and-practices/) for this repo on your computer.
  2. You should b

[2022-07-28 17:46] #358 closed

[2022-09-01 21:36] michaelachrisco commented on #357
This is no longer an issue. Closing: https://app.circleci.com/pipelines/github/Shift3/standards-and-practices/296/workflows/90ff54e2-1e1c-435d-ba60-cd237d834b19/jobs/327

[2022-09-01 21:36] #357 closed

[2022-09-20 21:37] michaelachrisco opened #361 "[Feat]: Contributing outside our organization"
### Is your feature request related to a problem? Please describe.

We have some projects that require collaboration outside of our organization.

### Describe the solution you'd like.

We have some pre-made docs here: https://github.com/Shift3/ifg/blob/develop/COLLABORATION.md that is used for this. We should add these docs to the standards and practices and make them easier for everyone involved

[2022-09-27 16:50] michaelachrisco opened #364 "[Feat]: Update QA Sprint Process"
### Is your feature request related to a problem? Please describe.

QA has reached out and created a doc on how their process has changed.

### Describe the solution you'd like.

We should take the doc here: https://docs.google.com/document/d/1AxJE44L0ZN5nc-BfLUqaG7_5RsEAgkGwdhPgbPL0ddg/edit and push the changes onto the QA page here: https://github.com/Shift3/standards-and-practices/blob/main/sta

[2022-09-29 21:05] #364 closed

[2022-09-30 21:31] #361 closed

[2022-10-12 22:42] michaelachrisco commented on #342
@goseinthemachine What issues is Heroku having. Sounds super interesting!

[2022-11-09 21:21] STRussell0 opened #367 "[bug]: Accessibility README typos"
## Expected Behavior

README should be free of typos and grammatical errors

## Actual/Current Behavior

Document contains grammatical errors and typos

## Steps to Reproduce the Problem

  1. Review accessibility README file [here](https://github.com/Shift3/standards-and-practices/tree/main/best-practices/development-tools/accessibility)

## Pre-Testing TODOs

N/A

## Testing Steps

  1. Navigate

[2022-11-10 00:38] EthanKFoster opened #369 "[Feat]: Add links to resources section of code review standards"
### Issue Description

The links provided within the '_resources_' section of the [code-reviews.md](https://github.com/Shift3/standards-and-practices/blob/main/standards/code-reviews.md) page are a little dated overall, and while still very useful, could use some additions. We have an excellent developer connect presentation that is extremely relevant, and it'd be nice to include that.

### Propos

[2022-11-10 17:47] #369 closed

[2022-11-10 17:54] funcyChaos opened #372 "[bug]: Links in standards are https and not relative"
## Expected Behavior

Links should be relative; it's easier to navigate in VS Code and overall more consistent

## Actual/Current Behavior

When browsing docs in VS Code Preview, some links open a browser and some don't

## Steps to Reproduce the Problem

  1. Open a preview of developer-accountability.md in standards
  2. Click on the link after Github project boards need to be setup according to

[2022-11-10 19:13] #372 closed

[2022-11-10 19:14] #367 closed

[2022-11-10 19:18] michaelachrisco opened #376 "[bug]: https://images.nativescript.rocks/ no longer works"
## Expected Behavior

Our Circleci workflow, through awesome_bot is used to double check our links to legacy documentation. Our nativescript docs have a link to a non-functioning website as seen below.

## Actual/Current Behavior
https://app.circleci.com/pipelines/github/Shift3/standards-and-practices/317/workflows/e311fe81-4a8d-4ec8-a297-4508f8a6f604/jobs/348

[code]

## Learning

We should see i